<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>

 <div th:replace="header:: head-register"></div>
	<title>BZBees - add jobs</title>
</head>

</head>

<body>

    <header>
        <div th:replace="header::nav"></div>

    </header>

    <main>
        <section class="register_form">
        
            
                <h3>Add job</h3>
                
                
                
                <form th:action="@{/user/saveJob}" th:object="${job}"
				method="POST">
					<div class="login-buttons">
			  
			 		<h4>We can help you find more jobs</h4>
					<button type="submit"  name="next" class="button_login" ><p>Next</p>
					<span class="iconify" id="next_mobile" data-icon="bx:bxs-skip-next-circle" data-inline="false"></span>
 					<span class="iconify" id="next_desk" data-icon="ic:baseline-navigate-next" data-inline="false"></span>
 					</button>

                
                </div>
				
				
				</form>
				
				<br>
                
                
	             <form th:action="@{/user/addJob}" th:object="${Job}" id="form-job-submit"
					method="POST">
	                
				<div class="register_form2">
				
	              	<div class="input_jobinfo">
	                
		                <div class="input_elements">
		                	<div class="input_field">
			                    <input th:field="${job.jobPrivate}" type="radio" id="private" value="true">
								<label for="private">private</label>
							</div>
		                	
			                <div class="input_field">
			                	<input autofocus type="text" th:field="${job.jobTitle}" required="required" placeholder="job name*">
			                	<label>job name<span> *</span></label>
			                </div>
			                
			                <div class="input_field">
				                <input type="text" th:field="${job.companyName}" required="required" placeholder="company name">
				                <label>company name<span> *</span></label>
			                </div>
			                
			             </div>
			          
			             
			             <div class="input_elements">
			                <div class="input_field">
			                    <input th:field="${job.startDate}" type="text" required="required" placeholder="Start Date" onclick="(this.type='date')" onblur="(this.type='text')">
			                    <label>Start Date<span> *</span></label>
			                </div>
			                
			                 <div class="input_field">
			                    <input th:field="${job.endDate}" type="text" required="required" placeholder="End Date" onclick="(this.type='date')" onblur="(this.type='text')">
			               		 <label>End Date<span> *</span></label>
			                </div>
			                
			                </div>
			                
		               	</div>
		               	
		               	<div class="input_elements">
			                
			                 <div class="input_field">
				                <textarea id="job_resp" th:field="${job.responsabilities}" required="required" placeholder="Job description, main responsibilities, achievements etc"></textarea>
				            	<label>Job responsibilities<span> *</span></label>
			                </div>
			             
			             </div>
	                </div>
	                
	       
				
					
	            
	            <div class="input_elements">
	
	                <button type="submit" ><p>add job</p>
	                 <i id="toSpin" class="fas fa-plus "></i>
					
					</button>
					
					<script type="text/javascript" th:inline="javascript">
				
				const formSubmitJob = document.getElementById('form-job-submit');
				var formData = $(formSubmitJob).serialize();
				
				formSubmitJob.addEventListener('submit', submitJob);
				
				function submitJob () {
					
					event.preventDefault();	
				
					$.ajax({
						type:"POST",
						url: $(formSubmitJob).attr('action'),
						beforeSend: function() {
				
							document.getElementById('toSpin').classList.add('fa-spin');

						},
						complete: function() {
							
						document.getElementById('toSpin').classList.remove('fa-spin');
							
						},
						data: $(formSubmitJob).serialize(),		
						datatype: "application/javascript",
						success:function(data) {
						
						$( ".lang_table").load(window.location.href + " .lang_table" );
						$( "#form-job-submit").load(window.location.href + " #form-job-submit");
						
						
						
						}
					});
				
				}
				
				
			
			</script>
	               
	
	            </div>
	             
	             </form>
	             
	       
             
           

            
            <table class="lang_table">
            	<caption style="text-align:left">Jobs added </caption>
					<tbody>
					<tr th:each="aJob : ${jobList}" style="height: 4rem;">
						<td th:text="${aJob.jobTitle}" >Job Title</td>
						<td th:text="${aJob.companyName}" >Company name</td>
						<td th:text="${aJob.startDate}" >Start Date</td>
						
						<td> <a th:attr="onclick=|deleteJob('${aJob.jobId}')|"
								
								class="btn btn-danger btn-sm"
								onClick="if (! (confirm('Are you sure you want to delete this job?'))) return false">
								<i class="fas fa-trash-alt" style="color:white"></i>
								</a> 
								
								<script>
							function deleteJob(jobId) {		
										
        								alert('delete -' + jobId +  '- was clicked');
        								console.log(jobId);
										event.preventDefault();	
										
										$.ajax({
											type:"GET",
											url:"/user/deleteJob?id=" + jobId,											
											async: false,
											success:function(data) {
											
										
											$( ".lang_table").load(window.location.href + " .lang_table" );
						
										
											}
										});
    								}
							
							</script>	
								
								</td>
					</tr>
					
					</tbody>
				</table>
				
				
			  				

        </section>


    </main>

   
<!-- <h3>Check out this useful links</h3> -->
    <hr>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <footer class="footer-container2">

        <div class="footer-follow-me2">
            <button class="facebook">
                <span class="iconify" data-inline="false" data-icon="dashicons:facebook"></span>
                <label for="facebook" >facebook</label>
            </button>
            <button class="linkedin">
                <span class="iconify" data-inline="false" data-icon="el:linkedin"></span>
                <label for="linkedin">linkedin</label>
            </button>
            <button class="twitter">
                <span class="iconify" data-inline="false" data-icon="vaadin:twitter-square"></span>
                <label for="twitter">twitter</label>
            </button>
            <button class="youtube">
                <span class="iconify" data-inline="false" data-icon="ant-design:youtube-outlined"></span>
                <label for="youtube">youtube</label>
            </button>


        </div> 

         <div class="copyright2">
            <h5>Conveniently redefine world-class e-business after state of the art relationships. Authoritatively streamline standardized users without efficient "outside the box" thinking. Uniquely whiteboard.</h5>

        </div> 
    </footer>



	<script src="../css/script.js" defer></script>
</body>

</html>