<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
  <div th:replace="header:: head-register"></div>
	<title>BZBees - add lang</title>
</head>

<body>

	<header>
	<div th:replace="header::nav"></div>
	</header>

	<main>
		<section class="register_form">
			
					
				<h3>Languages</h3>
						
				<form th:action="@{/user/saveLang}" th:object="${language}"
				method="POST" >

				<div class="login-buttons">
					
					<h4>You can speak it then don't... skip it</h4>
					<button type="submit"  name="next" class="button_login" ><p>Next</p>
					<span class="iconify" id="next_mobile" data-icon="bx:bxs-skip-next-circle" data-inline="false"></span>
 					<span class="iconify" id="next_desk" data-icon="ic:baseline-navigate-next" data-inline="false"></span></button>

				</div>

				</form>
						
						
				<form th:action="@{/user/addLang}" th:object="${language}" id="form-lang-submit" 
				method="POST">

				
				
				
				<div>
					
						<div class="input_elements">
							<div class="input_field">
								<input autofocus type="text" th:field="${lang.name}" placeholder="language" class="select_lang">
								<label>language</label>
							</div>
							
							 <div class="input_field">
								<select th:field="${lang.level}" class="select_lang" placeholder="please choose one level">
									<option th:value="LevelBasic">Basic</option>
									<option th:value="LevelCommunicative">Communicative</option>
									<option th:value="LevelAdvanced">Advanced</option>
									<option th:value="LevelNative">Native</option>
								</select>
								<label>language level</label>
							</div>
	
	
							</div>
										
						
						
			
				</div>
				
						<br>
					<div class="input_elements">
					

					
					
					
						<button type="submit" >
							<p>add language</p>
							 <i id="toSpin" class="fas fa-plus "></i>
					</button>
					
				<script type="text/javascript" th:inline="javascript">
				
				const formSubmitLang = document.getElementById('form-lang-submit');
				var formData = $(formSubmitLang).serialize();
				
				formSubmitLang.addEventListener('submit', submitLang);
				
				function submitLang () {
					
					event.preventDefault();	
					
				
					$.ajax({
						type:"POST",
						url: $(formSubmitLang).attr('action'),
						
						data: $(formSubmitLang).serialize(),		
						datatype: "application/javascript",
						beforeSend: function() {
				
							document.getElementById('toSpin').classList.add('fa-spin');

						},
						complete: function() {
							
						document.getElementById('toSpin').classList.remove('fa-spin');
							
						},
						success:function(data) {
						
							$( "#form-lang-submit").load(window.location.href + " #form-lang-submit");
						$( ".lang_table").load(window.location.href + " .lang_table" );
						
						
						
						}
					});
				
				}
				
				
			
			</script>
					
					
			
					</div>
					<br><br><br><br>
				
				
				</form>
				
			<table class="lang_table">
			<caption style="text-align:left">Languages </caption>
					<tbody>
					<tr th:each="aLang : ${langList}" style="height: 4rem;">
						<td th:text="${aLang.name}" >English</td>
						<td th:text="${aLang.level}" >Basic</td>
						
						<td> <a th:attr="onclick=|deleteLang('${aLang.langId}')|"
						
								class="btn btn-danger btn-sm"
								onClick="if (! (confirm('Are you sure you want to delete this language?'))) return false">
								<i class="fas fa-trash-alt" style="color:white"></i>
							</a>
							
								<script>
							function deleteLang(langId) {		
										
        								alert('delete -' + langId +  '- was clicked');
        								console.log(langId);
										event.preventDefault();	
										
										$.ajax({
											type:"GET",
											url:"/user/deleteLang?id=" + langId,											
											async: false,
											success:function(data) {
											
										
											$( ".lang_table").load(window.location.href + " .lang_table" );
						
										
											}
										});
    								}
							
							</script>		
						</td>
					</tr>
					
					</tbody>
				</table> 
				

		</section>


	</main>
	
<!-- <h3>Check out this useful links</h3> -->
    <hr>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <footer class="footer-container2">

        <div class="footer-follow-me2">
            <button class="facebook">
                <span class="iconify" data-inline="false" data-icon="dashicons:facebook"></span>
                <label for="facebook" >facebook</label>
            </button>
            <button class="linkedin">
                <span class="iconify" data-inline="false" data-icon="el:linkedin"></span>
                <label for="linkedin">linkedin</label>
            </button>
            <button class="twitter">
                <span class="iconify" data-inline="false" data-icon="vaadin:twitter-square"></span>
                <label for="twitter">twitter</label>
            </button>
            <button class="youtube">
                <span class="iconify" data-inline="false" data-icon="ant-design:youtube-outlined"></span>
                <label for="youtube">youtube</label>
            </button>


        </div> 

         <div class="copyright2">
            <h5>Conveniently redefine world-class e-business after state of the art relationships. Authoritatively streamline standardized users without efficient "outside the box" thinking. Uniquely whiteboard.</h5>

        </div> 
    </footer>



	<script src="../css/script.js" defer></script>
</body>

</html>