<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--<![endif]-->

<head>
	<div th:replace="header:: head"></div>
	<title>BZBees - profile</title>

</head>

<body>

	<header>
		 <div th:replace="header::nav"></div>
	</header>

	<main>
	
		<section th:object="${person}" class="profile">
				
			<h6 th:text="${success}"></h6>
			<h6 th:text="${passChanged}"></h6>
			
			<div class="profile_above_line">
				<h3> <span th:text="${userAccount.userName}">AGENCY</span>'s profile</h3>
				
				<div id="right_buttons">
					<a th:if="${#authentication.name} != ${userAccount.userName}"	
					id="affiliate" 
									name="affiliation">
									<i class="fas fa-user-friends fa-2x"></i>
							team up
					</a>	
					<p>|</p>
					
					<a id="export" th:href="@{/person/profilePDF}"  target="_blank">
							<i class="fas fa-file-export fa-2x"></i>
							<!-- span class="iconify" id="next_mobile" data-icon="clarity:export-solid" data-inline="false"></span> -->
		<!-- 					<span class="iconify" id="next_desk" data-icon="carbon:export" data-inline="false"></span>	 -->				
						<b>export to pdf</b>
					</a>
				</div>
				
				
						
			</div>
			
			
			<hr class="new_line">
			
			<div class="profile_top">
				<div class="profile_details">
					<div class="profile_avatar">

						<!-- this is where the profile img modal begins -->
						<div th:if="${#authentication.name} == ${userAccount.userName}" 
							class="modal fade" id="profilePicModal" tabindex="-20"
							aria-labelledby="profilePicLabel">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="profilePicTitle">Choose a
											profile image</h5>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<form id="uploadFiles" name="uploadFiles" method="POST"
										th:action="@{/person/addProfileImg}"
										encType="multipart/form-data">
										<div class="modal-body">

											<input type="file" name="img" placeholder="choose file">


										</div>

										

											
												<div class="login-buttons" id="modal">
													<button type="button" class="button-login" data-dismiss="modal">

														<span class="iconify" id="next_desk"
															data-icon="topcoat:cancel" data-inline="false"></span>

														<p>close</p>

													</button>
													<button type="submit" class="button-login">
														<span class="iconify" id="next_desk"
															data-icon="ic:round-cloud-upload" data-inline="false"></span>
														<p>upload</p>

													</button>
												
												
												</div>
												
										
									</form>

								</div>
							</div>
						</div>

						<!-- profile image modal ends -->

						<div id="edit-profile-details">
							<!-- trigger the modal for profileImg chooser -->
							<button th:if="${#authentication.name} == ${userAccount.userName}" 
								data-toggle="modal" data-target="#profilePicModal">
	
								<span th:if="${#lists.isEmpty(lastPicList)} OR ${lastPicList == null}"
								class="iconify" style="color:darkgray;" id="user-span"
									data-icon="whh:profile" data-inline="false"></span>
								<ul>
									<li th:if="${not #lists.isEmpty(lastPicList)}"
										th:each="thePic : ${lastPicList}"><img
										th:src="@{/person/img(imgId=${thePic.picId})}" style="size: 10%">
									</li>
	
								</ul>
							<span id="reload" class="iconify" data-icon="ic:outline-change-circle" data-inline="false" 
							style="background-color:lightgray;"></span>
							
							</button>
							
							<button  th:if="${#authentication.name} != ${userAccount.userName}"
								data-toggle="modal" data-target="#profilePicModal">
	
								<span th:if="${#lists.isEmpty(lastPicList)} OR ${lastPicList == null}"
								class="iconify"
									data-icon="whh:profile" data-inline="false"></span>
								<ul>
									<li th:if="${not #lists.isEmpty(lastPicList)}"
										th:each="thePic : ${lastPicList}"><img
										th:src="@{/person/img(imgId=${thePic.picId})}" style="size: 10%">
									</li>
	
								</ul>
	
	
							</button>
							
							<button id="edit-profile-details-button" th:if="${#authentication.name} == ${userAccount.userName}"
								data-toggle="modal" data-target="#personalDetails">
								<span id="pencil" class="iconify" data-icon="carbon:edit" data-inline="false"></span>
							</button>
							
							<div th:replace="personalModals::personalDetails"></div>
						
						</div>
						
							
						
							
					</div>


					<div class="profile_details_desktop" id="profile_details_reload">
					
						<div class="profile_personal">
							<label th:text="${person.firstName} +' '+ ${person.lastName}"
							id="profile-avatar-text">firstName</label>
							<div th:if="${#authentication.name} == ${agency.adminName}"
							class="profile_personal_fields">
									<h6 style="color:red">agency owner:</h6>
									<label  th:text ="' ' + ${agency.agencyName}" 
											id="agency">agency name</label>
											
									
									<!-- 	<a 
										sec:authorize="hasAuthority('AGENCY')"
										th:href="@{/agency/deleteAgency(id=${agency.agencyId})}"
										onClick="if (! (confirm('Are you sure you want to delete this agency?'))) return false">
										<span class="iconify" data-icon="jam:trash-alt-f"
										data-inline="false"></span>
										</a> -->
									
									
																		
							</div>
							
							<div class="profile_personal_fields">
								
								<h6>location:</h6>
								<address id="location" th:text="${person.location}">Lima, Peru</address>
								
							</div>
							
							<div class="profile_personal_fields">
								<h6>birth date:</h6>
								<div th:text="${#dates.format(person.BirthDate, 'dd-MMM-yyyy')}" 
								id="birthdate">15-05-2000</div>

								 
							</div>
							

						</div>

						<div class="profile_status">
						
							<div class="profile_personal_fields">
							<h6>email:</h6>
							<div th:text="${person.email}" id="email">jo@thePeru.com</div>
							</div>
							
							<div class="profile_personal_fields">
							<h6>job status:</h6>
							<div id="jobStatus">employeed</div>
							</div>
							<br>
							
							<a sec:authorize="isAuthenticated()" 
									th:if="${#authentication.name} == ${userAccount.userName}"
									data-toggle="modal"data-target="#addFacebook" id="editPencil"
									style="background-color:lightgray;"> 
								<span class="iconify" data-icon="ant-design:edit-twotone" 
									data-inline="false" style="background-color:lightgray;"></span >
								social media</a>

							<div class="profile_personal_fields" id="media_links">
								
<!-- 								<h6 id="underline"> add social media links</h6>	 -->
									
									
									<div class="social_media_links">

								<ul class="social-media-list">
									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;FACEBook&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanFB}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
											<a sec:authorize="isAuthenticated()" 
											th:if="${#authentication.name} == ${userAccount.userName}"
											th:attr="onclick=|deleteFB('${aSocialMedia.urlAddress}')|">	
											<span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialFB"	></span></a> 
									<script th:inline="javascript" type="text/javascript">
									
										function deleteFB(url) {
											event.preventDefault();
										
											$.ajax({
												type:"GET",
												url: "/person/deleteSocialMedia?url=" + url,
												
												beforeSend: function () {
													
													if($("#minus-socialFB") != null) {
														$("#minus-socialFB").addClass('fa-spin');
													}
												
												},
												completed: function () {
														$("#minus-socialFB").removeClass('fa-spin');																																				},
												success: function () {
												
													$( " .social-media-list").load(window.location.href + " .social-media-list");
													
												}
											});
										
									}
								
								
								</script>	   
											

									</li>
									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;LINKedin&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanLN}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
										<a sec:authorize="isAuthenticated()" 
										th:if="${#authentication.name} == ${userAccount.userName}"
										th:attr="onclick=|deleteLN('${aSocialMedia.urlAddress}')|">
										<span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialLN"	></span></a>  
										
										<script th:inline="javascript" type="text/javascript">
									
										function deleteLN(url) {
											event.preventDefault();
										
											$.ajax({
												type:"GET",
												url: "/person/deleteSocialMedia?url=" + url,
												
												beforeSend: function () {
													
													if($("#minus-socialLN") != null) {
														$("#minus-socialLN").addClass('fa-spin');
													}
												
												},
												completed: function () {
														$("#minus-socialLN").removeClass('fa-spin');																																				},
												success: function () {
												
													$( " .social-media-list").load(window.location.href + " .social-media-list");
													
												}
											});
										
									}
								
								
								</script>	   
											

									</li>

									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;TWITter&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanTW}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
										<a sec:authorize="isAuthenticated()" 
										th:if="${#authentication.name} == ${userAccount.userName}"
										th:attr="onclick=|deleteTW('${aSocialMedia.urlAddress}')|">
										<span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialTW"	></span></a>
											
										<script th:inline="javascript" type="text/javascript">
									
									function deleteTW(url) {
										event.preventDefault();
										
										$.ajax({
											type:"GET",
											url: "/person/deleteSocialMedia?url=" + url,
											
											beforeSend: function () {
												
												if($("#minus-socialTW") != null) {
													$("#minus-socialTW").addClass('fa-spin');
												}
											
											},
											completed: function () {
													$("#minus-socialTW").removeClass('fa-spin');																																				},
											success: function () {
											
												$( " .social-media-list").load(window.location.href + " .social-media-list");
												
											}
										});
									
									}
								
								
								</script>	   

									</li>

									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;INSTAgram&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanIN}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
										<a sec:authorize="isAuthenticated()" 
										th:if="${#authentication.name} == ${userAccount.userName}"
										th:attr="onclick=|deleteIG('${aSocialMedia.urlAddress}')|">
										<span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialIG"	></span></a>   
											
									<script th:inline="javascript" type="text/javascript">
									
									function deleteIG(url) {
										event.preventDefault();
										$.ajax({
											type:"GET",
											url: "/person/deleteSocialMedia?url=" + url,
											
											beforeSend: function () {
												
												if($("#minus-socialIG") != null) {
													$("#minus-socialIG").addClass('fa-spin');
												}
											
											},
											completed: function () {
													$("#minus-socialIG").removeClass('fa-spin');																																				},
											success: function () {
											
												$( " .social-media-list").load(window.location.href + " .social-media-list");
												
											}
										});
									
									}
								
								
								</script>

									</li>
								</ul>

							</div>
									

							</div>
							
							
							<div th:replace="personalModals::addFacebook"></div>
				
						</div>

					</div>

				</div>

				<div class="profile_docs">
					<div class="profile_docs_header">
						<h5 style="font-style: italic">documents:</h5>
						<button th:if="${#authentication.name} == ${userAccount.userName}" class="btn btn-sm btn-warning" id="addJob"
							data-toggle="modal" data-target="#addDocModal">
							add <span class="iconify" data-icon="bi:node-plus"
								data-inline="false"></span>
						</button>
						
						
						
						
					</div>
					
					<!-- THIS IS WHERE THE ADD DOC MODAL BEGINS -->
					<div class="modal fade" id="addDocModal" tabindex="-21"
					aria-labelledby="addJobLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add a new document to your profile</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div>
									<form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{/person/addDocsModal}"
									encType="multipart/form-data" >
										<input autofocus type="file" name="doc" placeholder="choose file" multiple  >
										
										<div class="input_elements">
											<button class="upload" type="submit" ><p>upload</p>
										<span class="iconify" id="add_mobile" data-icon="ant-design:plus-circle-filled" data-inline="false"></span>
										<span class="iconify" id="add_desk" data-icon="bx:bx-plus" data-inline="false"></span>
										</button>
										
										
										
										</div>
									</form>
								</div>
								</div>
								</div>
								</div>
					
					<!-- THIS IS WHERE THE ADD DOC MODAL ENDS -->
					<ul class="user-documents">
						<li th:each="aDoc : ${docList}" id="userDoc">
							<a 	th:if="${#authentication.name} == ${userAccount.userName}" 
								 
								
							class="doc_name d-inline-block text-truncate"
							th:text="${aDoc.docName}"
							th:href="@{/person/downloadFile(docId=${aDoc.docId})}">
								Resume.pdf</a>
								
							<a 	th:if="${#authentication.name} != ${userAccount.userName}" 
								 th:unless="${aDoc.docPrivate}"
								 th:id="'docName' + ${aDoc.docId}"
							class="doc_name d-inline-block text-truncate" 
							th:text="${aDoc.docName}"
							th:href="@{/person/downloadFile(docId=${aDoc.docId})}">
								Resume.pdf</a>	

							<div class="profile_docs_buttons btn btn-toolbar" 
								
								role="toolbar">
								<div th:if="${#authentication.name} == ${userAccount.userName}">
																
								
								<a th:if="${aDoc.docPrivate} == false"
									id="makeDocPrivate"
									th:attr="onclick=|makeDocPrivate('${aDoc.docId}')|">
									
									<i class="fas fa-2x" th:id="toSpinTrue + ${aDoc.docId}" ></i>
										<span class="iconify" th:id="'true' + ${aDoc.docId}"
											data-icon="ant-design:eye-outlined" data-inline="false"></span></a>
							
								<script th:inline="javascript" type="text/javascript">
									
									function makeDocPrivate(docId) {
										event.preventDefault();
										console.log('MAKE PRIVATE START' + docId);
										
										Pace.restart();
										
										Pace.track(function () {
										
										$.ajax({
											type:"GET",
											url: "/person/makeDocPrivate?id=" + docId,
											
											beforeSend: function () {
												
												if($("#toSpinTrue") + docId != null) {
													$("#toSpinTrue" + docId).addClass('fa-sync-alt fa-spin');
													$("#docName" + docId).css("color","gray");
													console.log('inside MAKE PRIVATE adding class spining of doc ' + '[[${aDoc.docId}]]');
													
													$("#true" + docId).css("display","none");
			
												}
											
											},
											completed: function () {
												$("#toSpinTrue" + docId).removeClass('fa-sync-alt','fa-spin');
												console.log('inside MAKE PRIVATE removing class of doc ' + '[[${aDoc.docId}]]');
												
												$("#true" + docId).css("display","flex");
											},
											success: function () {
												$( " .user-documents").load(window.location.href + " .user-documents");
												
											}
										});
									
										});
									}
								
								
								</script>
								
											
								<a th:if="${aDoc.docPrivate} == true"
									th:attr="onclick=|makeDocPublic('${aDoc.docId}')|"
									id="makeDocPublic">
										<i class="fas fa-2x" th:id="toSpinFalse + ${aDoc.docId}"></i>
										<span class="iconify" th:id="'false'+ ${aDoc.docId}"
											data-icon="ant-design:eye-invisible-outlined"
											data-inline="false"></span></a>
											
									<script th:inline="javascript" type="text/javascript">
									
									function makeDocPublic(docId) {
										event.preventDefault();
										console.log('MAKE PUBLIC START' + docId);
										
										Pace.restart();
										
										Pace.track(function () {
										
										$.ajax({
											type:"GET",
											url: "/person/makeDocPrivate?id=" + docId,
											
											beforeSend: function () {
												if($("#toSpinFalse") + docId != null) {
													$("#toSpinFalse" + docId).addClass('fa-sync-alt fa-spin');
													console.log('inside MAKE PUBLIC adding class spining of doc ' + '[[${aDoc.docId}]]');
												
													$("#false" + docId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinFalse" + docId).removeClass('fa-sync-alt fa-spin');
												console.log('inside MAKE PUBLIC removing class of doc ' + '[[${aDoc.docId}]]');
												
												$("#false" + docId).css("display","flex");
											},
											success: function () {
											$( " .user-documents").load(window.location.href + " .user-documents");
											}
										});
										
										});
									
									}
								
								
								</script>		
											
								</div>
								<a 	th:if="${#authentication.name} == ${userAccount.userName}" 
									
									th:href="@{/person/displayFile(docId=${aDoc.docId})}"
									role="button" data-toggle="tooltip" data-html="true"
									title="see the document"
									data-content="click to see the document"> <span
									class="iconify" data-icon="ion:documents-outline"
									data-inline="false"></span></a> 
									
								<a 	th:if="${#authentication.name} != ${userAccount.userName}" 
								 	th:unless="${aDoc.docPrivate}"
									th:href="@{/person/displayFile(docId=${aDoc.docId})}"
									role="button" data-toggle="tooltip" data-html="true"
									title="see the document"
									data-content="click to see the document"> <span
									class="iconify" data-icon="ion:documents-outline"
									data-inline="false"></span></a> 
									
								<a	id="deleteDocLink"
									th:if="${#authentication.name} == ${userAccount.userName}"
									th:attr="onclick=|deleteDoc('${aDoc.docId}','${aDoc.docName}')|"									
									th:href="@{/person/deleteProfileDoc(id=${aDoc.docId})}">
									<i class="fas fa-2x" th:id="toSpinDelete + ${aDoc.docId}"></i>
									<span class="iconify" data-icon="jam:trash-alt-f"
									data-inline="false" th:id="'trashIcon' + ${aDoc.docId}"></span>
								</a>
								
								<script th:inline="javascript" type="text/javascript">
									function deleteDoc(docId, docName) {
										event.preventDefault();
										alert('are you sure you want to delete ' + docName + '?');  
										console.log('delete user doc' + docId);
										
										
										Pace.restart();
										
										Pace.track(function () {
										
										$.ajax({
											type:"GET",
											url: "/person/deleteProfileDoc?id=" + docId,
											
											beforeSend: function () {
												if($("#toSpinDelete") + docId != null) {
													$("#toSpinDelete" + docId).addClass('fa-sync-alt fa-spin');
													$("#trashIcon" + docId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinDelete" + docId).removeClass('fa-sync-alt fa-spin');
												console.log('inside DELETE DOC removing class of doc ' + '[[${aDoc.docId}]]');
												
												$("#trashIcon" + docId).css("display","flex");
											},
											success: function () {
											$( " .user-documents").load(window.location.href + " .user-documents");
											}
										});
										
										});
									
									}
								
									
									
								
								</script>

							</div></li>
					</ul>

				</div>
			</div>
			
			<br>
			<div class="profile_headline">
				<div class="profile_work_addJob">

					<h3>work experience</h3>


					<button th:if="${#authentication.name} == ${userAccount.userName}" class="btn btn-sm btn-warning" id="addJob"
						data-toggle="modal" data-target="#addJobModal">
						add job <span class="iconify" data-icon="bi:node-plus"
							data-inline="false"></span>
					</button>



				</div>


				

			

			</div>

			<hr class="new_line">


			<div class="job_list_desktop">

				<ul class="job_list" id="#job_list">
					
					<li th:each="job, nJob : ${jobList}"  class="job_profile_card" 
						th:unless = "${nJob.index > 4}">
						
						
					
						<div class="showForUser" th:if="${#authentication.name} == ${userAccount.userName}" >
					
											
						<a th:text="${job.jobTitle}"
						class="job_profile_title" th:id="'jobTitle' + ${job.jobId}">Value</a>

						<div th:text="${job.companyName}" class="job_profile_location">Panama
							City, Panama</div>
						<div class="job_profile_card_dates">
							<div class="job_profile_card_dates_line">
								<div class="register_subtitle_date">Start date:</div>
								<div th:text="${#dates.format(job.startDate, 'dd-MMM-yyyy')}"
									id="startDate">14.05.2014</div>
							</div>

							<div class="job_profile_card_dates_line">
								<div class="register_subtitle_date">End date:</div>
								<div th:text="${#dates.format(job.endDate, 'dd-MMM-yyyy')}"
									id="startDate">14.05.2014</div>
							</div>

						</div>

						<div class="job_profile_description">
							<p th:text="${job.responsabilities}">Energistically optimize
								corporate benefits with worldwide manufactured products.
								Progressively transition.</p>
						</div>
						
						
						</div>
						
						<div class="showForAgency" th:if="${#authentication.name} != ${userAccount.userName}"
								th:unless="${job.jobPrivate}" >
					
											
						<a th:text="${job.jobTitle}"
						class="job_profile_title" th:id="'jobTitle' + ${job.jobId}">Value</a>

						<div th:text="${job.companyName}" class="job_profile_location">Panama
							City, Panama</div>
						<div class="job_profile_card_dates">
							<div class="job_profile_card_dates_line">
								<div class="register_subtitle_date">Start date:</div>
								<div th:text="${#dates.format(job.startDate, 'dd-MMM-yyyy')}"
									id="startDate">14.05.2014</div>
							</div>

							<div class="job_profile_card_dates_line">
								<div class="register_subtitle_date">End date:</div>
								<div th:text="${#dates.format(job.endDate, 'dd-MMM-yyyy')}"
									id="startDate">14.05.2014</div>
							</div>

						</div>

						<div class="job_profile_description">
							<p th:text="${job.responsabilities}">Energistically optimize
								corporate benefits with worldwide manufactured products.
								Progressively transition.</p>
						</div>
						
						
						</div>

						<div class="profile_icons">

							<a id="deleteButton"
								th:if="${#authentication.name} == ${userAccount.userName}"
								th:attr="onclick=|deleteUserJob('${job.jobId}','${job.jobTitle}')|">
								<i class="fas fa-2x" th:id="'toSpinDeleteUserJob' + ${job.jobId}"></i>
								<span class="iconify" data-icon="jam:trash-alt-f" th:id="'trashIconUserJob' + ${job.jobId}"
								data-inline="false"></span>
							</a>
							
								<script th:inline="javascript" type="text/javascript">
									function deleteUserJob(jobId, jobTitle) {
										event.preventDefault();
										alert('are you sure you want to delete ' + jobTitle + '?');  
										Pace.restart();
										
										Pace.track(function () {
										$.ajax({
											type:"GET",
											url: "/person/deleteJobByModal?id=" + jobId,
											
											beforeSend: function () {
												if($("#toSpinDeleteUserJob") + jobId != null) {
													$("#toSpinDeleteUserJob" + jobId).addClass('fa-sync-alt fa-spin');
													
													$("#trashIconUserJob" + jobId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinDeleteUserJob" + jobId).removeClass('fa-sync-alt fa-spin');
											
												$("#trashIconUserJob" + jobId).css("display","flex");
											},
											success: function () {
											$( " .job_list_desktop").load(window.location.href + " .job_list_desktop");
											}
										});
										});
									
									}
								
									
									
								
								</script>

							<div class="profile_icons_right btn btn-toolbar" id="userJobButtons" role="toolbar">
							
							
							
						<div th:if="${#authentication.name} == ${userAccount.userName}">
							<a th:if="${job.jobPrivate} == false"
									id="makeUserJobPrivate"
									th:attr="onclick=|makeUserJobPrivate('${job.jobId}')|">									
									<i class="fas fa-lg" th:id="toSpinTrueUserJob + ${job.jobId}" 
										style="color:gray;" ></i>
										<span class="iconify" th:id="'trueUserJob' + ${job.jobId}"
											data-icon="ant-design:eye-outlined" data-inline="false"></span></a>
							
								<script th:inline="javascript" type="text/javascript">
									
									function makeUserJobPrivate(jobId) {
										event.preventDefault();
										
										Pace.restart();
										
										Pace.track(function () {
										
										$.ajax({
											type:"GET",
											url: "/person/makeJobPrivate?id=" + jobId,
											
											beforeSend: function () {
												
												if($("#toSpinTrueUserJob") + jobId != null) {
													$("#toSpinTrueUserJob" + jobId).addClass('fa-sync-alt fa-spin');
													$("#jobTitle" + jobId).css("color","gray");
													$("#trueUserJob" + jobId).css("display","none");
			
												}
											
											},
											completed: function () {
												$("#toSpinTrueUserJob" + jobId).removeClass('fa-sync-alt','fa-spin');
												$("#trueUserJob" + jobId).css("display","flex");
											},
											success: function () {
												$( " .job_list_desktop").load(window.location.href + " .job_list_desktop");
												
											}
										});
									
										});
									}
								
								
								</script>
								
											
								<a th:if="${job.jobPrivate} == true"
									th:attr="onclick=|makeUserJobPublic('${job.jobId}')|"
									id="makeDocPublic">
										<i class="fas fa-lg" style="color:gray;" 
											th:id="'toSpinFalseUserJob' + ${job.jobId}"></i>
										<span class="iconify" th:id="'falseUserJob'+ ${job.jobId}"
											data-icon="ant-design:eye-invisible-outlined"
											data-inline="false"></span></a>
											
									<script th:inline="javascript" type="text/javascript">
									
									function makeUserJobPublic(jobId) {
										event.preventDefault();
										
										Pace.restart();
										
										Pace.track(function () {
										
										$.ajax({
											type:"GET",
											url: "/person/makeJobPrivate?id=" + jobId,
											
											beforeSend: function () {
												if($("#toSpinFalseUserJob") + jobId != null) {
													$("#toSpinFalseUserJob" + jobId).addClass('fa-sync-alt fa-spin');
													$("#falseUserJob" + jobId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinFalseUserJob" + jobId).removeClass('fa-sync-alt fa-spin');
									
												$("#falseUserJob" + jobId).css("display","flex");
											},
											success: function () {
												$( " .job_list_desktop").load(window.location.href + " .job_list_desktop");
												
											}
										});
										
										});
									
									}
								
								
								</script>			
								
								
								
								
						</div>

								<!-- trigger the modal for jobEditModal -->
								<button th:if="${#authentication.name} == ${userAccount.userName}" 
									data-toggle="modal" data-target="#editJobModal"
									th:attrappend="data-target=${job.jobId}">

									<img src="../css/graphic/edit.png" alt="user" />
								</button>
								
								
									<!-- this is where the editJob modal begins -->
						<div class="modal fade" th:id="'editJobModal'+${job.jobId}" tabindex="25"
							th:attrappend="id=${job.jobId}" aria-labelledby="editJobLabel">

							<div class="modal-dialog ">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edit</h5>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close" th:id="'closeModalUserEditJob' + ${job.jobId}">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									
									<form 
										
										th:attr="onsubmit=|editJob('${job.jobId}')|"
										th:object="${job}" method="GET" th:id="'form-edit-userJob' + ${job.jobId}" >

											<div class="register_form">

												<div class="input_jobinfo">
												
												<input th:id="'userjob' + ${job.jobId}" type="hidden" th:value="${job.jobId}">

													<div class="input_elements">
														<div class="input_field">
															<!-- radio buttons have only 2 values so don't do th:value -->
															<input th:id="jobPrivate" th:name="jobPrivate"
																type="radio" value="true"> <label
																th:for="jobPrivate">private</label>
														</div>

														<div class="input_field">
															<input th:value="*{jobTitle}" th:id="jobTitle"
																th:name="jobTitle" type="text" required="required"
																placeholder="job name*"> <label>job name<span>
																	*</span></label>
														</div>

														<div class="input_field">
															<input th:value="*{companyName}" th:id="companyName"
																th:name="companyName" type="text" required="required"
																placeholder="company name"> <label>company
																name<span> *</span>
															</label>
														</div>

													</div>

													<div class="input_elements">
														<div class="input_field">
															<input th:value="${{job.startDate}}" th:id="startDate"
																th:name="startDate" type="text" required="required"
																placeholder="Start Date" onclick="(this.type='date')"
																onblur="(this.type='text')"> <label>Start
																Date<span> *</span>
															</label>
														</div>

														<div class="input_field">
															<input th:value="${{job.endDate}}" th:id="endDate"
																th:name="endDate" type="text" required="required"
																placeholder="End Date" onclick="(this.type='date')"
																onblur="(this.type='text')"> <label>End
																Date<span> *</span>
															</label>
														</div>

													</div>

												</div>

												<div class="input_elements">

													<div class="input_field">
														<textarea th:text="*{responsabilities}"
															th:id="responsabilities" th:name="responsabilities"
															id="job_resp" required="required"
															placeholder="Job description, main responsibilities, achievements etc"></textarea>
														<label>Job responsibilities<span> *</span></label>
													</div>

												</div>
											</div>



											<div class="login-buttons">
												
													<button type="button" class="button-login" data-dismiss="modal">
														<span class="iconify" id="next_mobile"
															data-icon="ic:baseline-cancel" data-inline="false"></span><p>close</p>
														<span class="iconify" id="next_desk"
															data-icon="topcoat:cancel" data-inline="false">close</span>

						
													</button>
													<button type="submit" class="button-login">
														<i id="toSpinUserEditJob" class="fas fa-plus"></i>
														<i class="bi bi-save-fill" ></i>
<!-- 														<span class="iconify" id="next_mobile"
															data-icon="teenyicons:save-solid" data-inline="false"></span>
														<span class="iconify" id="next_desk"
															data-icon="teenyicons:save-solid" data-inline="false"></span>
 -->														<p>save</p>

													</button>
													
		<script type="text/javascript" th:inline="javascript">
				
				function editJob (jobId) {

				var formEditUserJob = document.getElementById('form-edit-userJob' + jobId);
						
					event.preventDefault();	
					console.log('I get called to edit a user job ---> ' + jobId);
					
						Pace.restart();
										
						Pace.track(function () {
																				
						$.ajax({
								type:"GET",
								//url: $(formEditUserJob).attr('action'),			
								url: "/person/editJob?id=" + jobId,
								data: $(formEditUserJob).serialize(),		
								datatype: "application/x-www-form-urlencoded",
								beforeSend: function() {
									
							document.getElementById('toSpinUserEditJob').classList.add('fa-spin');
					
						},
						complete: function() {
												
							$( "#closeModalUserEditJob" + jobId).trigger("click");
							document.getElementById('toSpinUserEditJob').classList.remove('fa-spin');
												
												
						},
					 	success:function(data) {
																									
							$( " .job_list_desktop").load(window.location.href + " .job_list_desktop");
																						
						}
					});
					
					});
						
				}
				

				
		</script>
													
													


											</div>

										
									</form>

								</div>
							</div>
						</div> 
						
						<!-- editJobModal ends --> 
								

							</div>


						</div>
					
						
					
					</li>
					
					
					
									
				</ul>
				

			</div>
			
			
									<!-- MODAL for adding a JOB from profile -->

				<div class="modal fade" id="addJobModal" tabindex="-21"
					aria-labelledby="addJobLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add a new job</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close" id="closeModalUserAddJob">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form th:action="@{/person/addModalJob}" th:object="${job}"
								method="POST" id="form-submit-userJob">

									<div class="register_form">

										<div class="input_jobinfo">

											<div class="input_elements">
												<div class="input_field">

													<input th:field="${job.jobPrivate}" type="radio"
														value="true"> <label th:for="jobPrivate">private</label>
												</div>

												<div class="input_field">
													<input th:field="${job.jobTitle}" type="text"
														required="required" placeholder="job name*"> <label>job
														name<span> *</span>
													</label>
												</div>

												<div class="input_field">
													<input th:field="${job.companyName}" type="text"
														required="required" placeholder="company name"> <label>company
														name<span> *</span>
													</label>
												</div>

											</div>


											<div class="input_elements">
												<div class="input_field">
													<input th:field="${job.startDate}" type="text"
														required="required" placeholder="Start Date"
														onclick="(this.type='date')" onblur="(this.type='text')">
													<label>Start Date<span> *</span></label>
												</div>

												<div class="input_field">
													<input th:field="${job.endDate}" type="text"
														required="required" placeholder="End Date"
														onclick="(this.type='date')" onblur="(this.type='text')">
													<label>End Date<span> *</span></label>
												</div>

											</div>

										</div>

										<div class="input_elements">

											<div class="input_field">
												<textarea th:field="${job.responsabilities}" id="job_resp"
													required="required"
													placeholder="Job description, main responsibilities, achievements etc"></textarea>
												<label>Job responsibilities<span> *</span></label>
											</div>

										</div>
									</div>

								

								
									<div class="login-buttons">
										<button type="button" class="button-login" data-dismiss="modal">
												<span class="iconify" id="next_mobile"
													data-icon="ic:baseline-cancel" data-inline="false"></span>
												<span class="iconify" id="next_desk"
													data-icon="topcoat:cancel" data-inline="false"></span>

												<p>close</p>

											</button>
											<button type="submit" class="button-login">
												<i id="toSpinUserAddJob" class="fas fa-plus"></i>
												<span class="iconify" id="next_mobile"
													data-icon="teenyicons:save-solid" data-inline="false"></span>
												<span class="iconify" id="next_desk"
													data-icon="teenyicons:save-solid" data-inline="false"></span>
												<p>add job</p>

											</button>

									<script type="text/javascript" th:inline="javascript">
				
									const formSubmitUserJob = document.getElementById('form-submit-userJob');
									var formData = $(formSubmitUserJob).serialize();
								
									formSubmitUserJob.addEventListener('submit', submitUserJob);
									
									function submitUserJob () {
										
										event.preventDefault();	
										console.log('I get called to submit a user job')
																				
										$.ajax({
											type:"POST",
											url: $(formSubmitUserJob).attr('action'),
											
											data: $(formSubmitUserJob).serialize(),		
											datatype: "application/javascript",
											beforeSend: function() {
									
												document.getElementById('toSpinUserAddJob').classList.add('fa-spin');
					
											},
											complete: function() {
												
												$( "#closeModalUserAddJob").trigger("click");
												document.getElementById('toSpinUserAddJob').classList.remove('fa-spin');
												
												
											},
					 						success:function(data) {
																									
												$( " .job_list_desktop").load(window.location.href + " .job_list_desktop");
																						
											}
										});
										
										
									}
				
				
			
			</script>





								</div>

								
								
							</form>

						</div>
					</div>
				</div>


				<!-- ADD JOB MODAL ENDS HERE -->
				
				
				
			
			
			
			<h5 style="margin-left: auto;">... see all</h5>
			
			<hr class="new_line"> 

			<div class="skills_lang_desktop">

				<div  id="skills_profile">

					<div class="profile_headline">
						<div class="profile_work_addJob">

							<h3>skills</h3>


							<button th:if="${#authentication.name} == ${userAccount.userName}" 
								class="btn btn-sm btn-warning" id="addSkill"
								data-toggle="modal" data-target="#addSkillModal">
								add skill <span class="iconify" data-icon="bi:node-plus"
									data-inline="false"></span>
							</button>


							<!-- ADD SKILL MODAL -->
							<div class="modal fade" id="addSkillModal" tabindex="-21"
								aria-labelledby="editJobLabel">

								<div class="modal-dialog ">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Edit</h5>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close" id="closeModalUserAddSkill">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>

										<form class="register_form" th:action="@{/person/addSkillModal}"
											th:object="${skill}" method="POST" id="form-add-skill">

											<div class="input_elements">

												<div class="input_field">
													<input th:field="${skill.skillName}" type="text"
														placeholder="skill name"> <label>skill
														name</label>
												</div>

												<div class="input_field">
													<textarea id="skill" th:field="${skill.skillDescription}"
														placeholder="short description, tools used, location etc"></textarea>
													<label>a good description:</label>
												</div>

												<button type="submit">
													<p>add skill</p>
													<i id="toSpinUserAddSkill" class="fas fa-plus"></i>
													<i class="bi bi-save-fill" id="saveSkillModal"></i>
													
												</button>
								<script type="text/javascript" th:inline="javascript">
				
									const formAddSkill = document.getElementById('form-add-skill');
									var formData = $(formAddSkill).serialize();
								
									formAddSkill.addEventListener('submit', submitUserSkill);
									
									function submitUserSkill () {
										
										event.preventDefault();	
										
																				
										$.ajax({
											type:"POST",
											url: $(formAddSkill).attr('action'),
											
											data: $(formAddSkill).serialize(),		
											datatype: "application/javascript",
											beforeSend: function() {
									
												document.getElementById('toSpinUserAddSkill').classList.add('fa-spin');
												$(" #saveSkillModal").css("display","none");
											},
											complete: function() {
												
												$( "#closeModalUserAddSkill").trigger("click");
												document.getElementById('toSpinUserAddSkill').classList.remove('fa-spin');
												$(" #saveSkillModal").css("display","flex");
												
											},
					 						success:function(data) {
																									
												$( " .skill_profile").load(window.location.href + " .skill_profile");
																						
											}
										});
										
										
									}
				
				
			
								</script>
												
											</div>
										</form>
									</div>
								</div>
							</div>

							<!-- END ADD SKILL MODAL -->

						</div>
						<!-- 
		                TRIGGER THE EDIT SKILLS MODAL
		                  <button data-toggle="modal" data-target="#editSkillsModal" >
			                <img src="../css/graphic/edit.png" alt="user" />
			              </button> -->




					</div>
					
					
					<hr class="new_line"> 
					
					
					<div class="skill_profile">
						<table class="table table-striped">
							<thead>

							</thead>
							<tbody>
								<tr th:each="aSkill : ${skillsList}">
									<th th:text="${aSkill.skillName}">Java</th>
									<td th:text="${aSkill.skillDescription}">Basic knowledge</td>
									<td><a th:if="${#authentication.name} == ${userAccount.userName}" 
										th:id="'deleteButton' + ${aSkill.skillId}"
										th:attr="onclick=|deleteUserSkill('${aSkill.skillId}','${aSkill.skillName}')|">										
											<i class="fas fa-lg" th:id="'toSpinDeleteUserSkill' + ${aSkill.skillId} "></i>
											<span class="iconify" data-icon="jam:trash-alt-f"
											data-inline="false" style="color:#1F9A01;" 
											th:id="'trashIconUserSkill' + ${aSkill.skillId}"></span>
									</a>
									<script type="text/javascript" th:inline="javascript">
										function deleteUserSkill(skillId, skillName) {
										event.preventDefault();
										alert('are you sure you want to delete ' + skillName + '?');  
										Pace.restart();
										
										Pace.track(function () {
										$.ajax({
											type:"GET",
											url: "/person/deleteSkillbyProfile?id=" + skillId,
											
											beforeSend: function () {
												if($("#toSpinDeleteUserSkill") + skillId != null) {
													$("#toSpinDeleteUserSkill" + skillId).addClass('fa-sync-alt fa-spin');
													
													$("#trashIconUserSkill" + skillId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinDeleteUserSkill" + skillId).removeClass('fa-sync-alt fa-spin');
											
												$("#trashIconUserSkill" + skillId).css("display","flex");
											},
											success: function () {
											$( " .skill_profile").load(window.location.href + " .skill_profile");
											}
										});
										});
									
									}
								
									
									
									
									</script>
									
									
									</td>
								</tr>
							</tbody>
						</table>

					</div>




				</div>


				<div  id="lang_profile">

					<div class="profile_headline">

						<div class="profile_work_addLang">

							<h3>language</h3>


							<button th:if="${#authentication.name} == ${userAccount.userName}" 
								class="btn btn-sm btn-warning" id="addLang"
								data-toggle="modal" data-target="#addLangModal">
								add lang <span class="iconify" data-icon="bi:node-plus"
									data-inline="false"></span>
							</button>
			
					<!-- ADD LANG MODAL STARTS HERE  -->
					<div class="modal fade" id="addLangModal" tabindex="-21"
								aria-labelledby="editLangLabel">

								<div class="modal-dialog ">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Edit</h5>

											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close"  th:id="closeModalUserAddLang">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										
										
											<form class="register_form" 
													th:action="@{/person/addLangModal}" th:object="${lang}"
													id="form-add-lang"
												method="POST">
						
										
										
										
										<div>
											
												<div class="input_elements">
													<div class="input_field">
														<input type="text" th:field="${lang.name}" placeholder="language" class="select_lang">
														<label>language</label>
													</div>
													
													 <div class="input_field">
														<select th:field="${lang.level}" class="select_lang" placeholder="please choose one level">
															<option th:value="LevelBasic">Basic</option>
															<option th:value="LevelCommunicative">Communicative</option>
															<option th:value="LevelAdvanced">Advanced</option>
															<option th:value="LevelNative">Native</option>
														</select>
														<label>language level</label>
													</div>
							
							
													</div>
																
												
												
									
										</div>
										
												<br>
											<div class="input_elements">
												<button id="addlanguage" type="submit" >
													<p>add language</p>
													
											<i id="toSpinUserAddLang" class="fas fa-plus"></i>
											<i class="bi bi-save-fill" id="saveLangModal"></i>
											</button>
											
								<script type="text/javascript" th:inline="javascript">
				
									const formAddLang = document.getElementById('form-add-lang');
									
								
									formAddLang.addEventListener('submit', submitUserLang);
									
									function submitUserLang () {
										
										event.preventDefault();	
										
																				
										$.ajax({
											type:"POST",
											url: $(formAddLang).attr('action'),
											
											data: $(formAddLang).serialize(),		
											datatype: "application/javascript",
											beforeSend: function() {
									
												document.getElementById('toSpinUserAddLang').classList.add('fa-spin');
												$(" #saveLangModal").css("display","none");
											},
											complete: function() {
												
												$( "#closeModalUserAddLang").trigger("click");
												document.getElementById('toSpinUserAddLang').classList.remove('fa-spin');
												$(" #saveLangModal").css("display","flex");
												
											},
					 						success:function(data) {
																									
												$( " .lang_profile").load(window.location.href + " .lang_profile");
																						
											}
										});
										
										
									}
				
				
			
								</script>
											
											
											
											</div>
											<br><br><br><br>
										
										
										</form>
																
										
									</div>
								</div>
							</div>
										

						</div>

						

					</div>
					
					<hr class="new_line">

					<div class="lang_profile">
						<table class="table table-striped">
							<thead>

							</thead>
							<tbody>
								<tr th:each="aLang : ${langList}">
									<th th:text="${aLang.name}" scope="row">English</th>
									<td th:text="${aLang.level}">Communicative</td>
									<td style="text-align: top;"><a th:if="${#authentication.name} == ${userAccount.userName}" 
										
										th:attr="onclick=|deleteUserLang('${aLang.langId}','${aLang.name}')|">	
										
										
										
											<i class="fas fa-lg" th:id="'toSpinDeleteUserLang' + ${aLang.langId} "></i>
											<span class="iconify" data-icon="jam:trash-alt-f"
											data-inline="false" style="color:#1F9A01;" 
											th:id="'trashIconUserLang' + ${aLang.langId}"></span>
									</a>
									<script type="text/javascript" th:inline="javascript">
										function deleteUserLang(langId, langName) {
										event.preventDefault();
										alert('are you sure you want to delete ' + langName + '?');  
										Pace.restart();
										
										Pace.track(function () {
										$.ajax({
											type:"GET",
											url: "/person/deleteLangbyProfile?id=" + langId,
											
											beforeSend: function () {
												if($("#toSpinDeleteUserLang") + langId != null) {
													$("#toSpinDeleteUserLang" + langId).addClass('fa-sync-alt fa-spin');
													
													$("#trashIconUserLang" + langId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinDeleteUserLang" + langId).removeClass('fa-sync-alt fa-spin');
											
												$("#trashIconUserLang" + langId).css("display","flex");
											},
											success: function () {
											$( " .lang_profile").load(window.location.href + " .lang_profile");
											}
										});
										});
									
									}
								
									
									
									
									</script>
									
									</td>
									
							</tbody>
						</table>

					</div>

				</div>

				
				
			</div>
			
			<div class="skills_lang_desktop">

				<div  id="skills_profile">

					<div class="profile_headline">
						<div class="profile_work_addJob">
							<img src="../css/buttons/openJob2.svg"/>
							<h3>jobs applied</h3>


						</div>
						
					</div>
					
					
					<hr class="new_line"> 
					
					
					<div class="skill_profile">
						<table class="table table-striped">
							<thead>

							</thead>
							<tbody>
								<tr>
									<th> job </th>
									<th> location </th>
									<th> agency </th>
									<th> salary </th>
									<th> response</th>																		
								</tr>
								<tr th:each="job : ${userJobsApplied}">
									<th>
										<a th:text="${job.jobTitle}" scope="row" 
										data-toggle="modal" th:data-target="'#showJobCard' + ${job.jobId}" 
											th:href="@{'#showJobCard' + ${job.jobId}}" >Communicative</a>
										<div th:replace="modals::showJob"></div>	
									</th>
									<td th:text="${job.jobLocation}">Basic knowledge</td>
									<td th:text="${job.companyName}">Basic knowledge</td>
									<td th:text="${job.salary} + ' ' + ${job.currency} + '/h'" >
									
									
									<td style="text-align: top;">
									
									<a th:if="${#authentication.name} == ${userAccount.userName}" 
										
										th:attr="onclick=|removeFromList(${job.jobId})|">	
																														
											<i class="fas fa-lg" th:id="'toSpinDeleteUserJobList' + ${job.jobId} "></i>
											<span class="iconify" data-icon="jam:trash-alt-f"
											data-inline="false" style="color:#1F9A01;" 
											th:id="'trashIconUserJobList' + ${job.jobId}"></span>
									</a>
									
									<script type="text/javascript" th:inline="javascript">
										function removeFromList(jobId) {
										event.preventDefault();
										Pace.restart();
										
										Pace.track(function () {
										$.ajax({
											type:"GET",
											url: "/addJobToList?jobId=" + jobId,
											
											beforeSend: function () {
												if($("#toSpinDeleteUserJobList") + jobId != null) {
													$("#toSpinDeleteUserJobList" + jobId).addClass('fa-sync-alt fa-spin');
													
													$("#trashIconUserJobList" + jobId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinDeleteUserJobList" + jobId).removeClass('fa-sync-alt fa-spin');
											
												$("#trashIconUserJobList" + jobId).css("display","flex");
											},
											success: function () {
											$( " .whishlist").load(window.location.href + " .whishlist");
											}
										});
										});
									
									}
								
									
									
									
									</script>
									
									</td>
								</tr>
							</tbody>
						</table>

					</div>




				</div>


				<div  id="jobsListed_profile">

					<div class="profile_headline">

						<div class="profile_work_jobListed">
							
							<span  id="jobListedIcon"	class="iconify" data-icon="bx:bx-list-check" 
                                	data-inline="false" ></span>
							<h3>jobs wishlist</h3>
							

						</div>

						

					</div>
					
					<hr class="new_line">

					<div class="whishlist">
						<table class="table table-striped">
							<thead>

							</thead>
							<tbody>
								<tr>
									<th> job </th>
									<th> location </th>									
									<th> salary </th>
									<th th:if="${#authentication.name} == ${userAccount.userName}" > action </th>																		
								</tr>
								<tr th:each="job : ${userJobsSaved}">
									<th >
									<a th:text="${job.jobTitle}" scope="row" 
										data-toggle="modal" th:data-target="'#showJobCard' + ${job.jobId}" 
											th:href="@{'#showJobCard' + ${job.jobId}}" >Communicative</a>
									<div th:replace="modals::showJob"></div>	
									</th>
			
									
										
										<td th:text="${job.jobLocation}">
											
											
										</td>
										
										
									
									
									<td th:text="${job.salary} + ' ' + ${job.currency} + '/h'" >
									<td style="text-align: top;"><a th:if="${#authentication.name} == ${userAccount.userName}" 
										
										th:attr="onclick=|removeFromList(${job.jobId})|">	
										
										
										
											<i class="fas fa-lg" th:id="'toSpinDeleteUserJobList' + ${job.jobId} "></i>
											<span class="iconify" data-icon="jam:trash-alt-f"
											data-inline="false" style="color:#1F9A01;" 
											th:id="'trashIconUserJobList' + ${job.jobId}"></span>
									</a>
									
									<script type="text/javascript" th:inline="javascript">
										function removeFromList(jobId) {
										event.preventDefault();
										Pace.restart();
										
										Pace.track(function () {
										$.ajax({
											type:"GET",
											url: "/addJobToList?jobId=" + jobId,
											
											beforeSend: function () {
												if($("#toSpinDeleteUserJobList") + jobId != null) {
													$("#toSpinDeleteUserJobList" + jobId).addClass('fa-sync-alt fa-spin');
													
													$("#trashIconUserJobList" + jobId).css("display","none");

												}
											
											},
											completed: function () {
												$("#toSpinDeleteUserJobList" + jobId).removeClass('fa-sync-alt fa-spin');
											
												$("#trashIconUserJobList" + jobId).css("display","flex");
											},
											success: function () {
											$( " .whishlist").load(window.location.href + " .whishlist");
											}
										});
										});
									
									}
								
									
									
									
									</script>
									
									</td>
									</tr>
							</tbody>
						</table>

					</div>

				</div>

				
				
			</div>
			
			

			<div class="login-buttons">

			

			</div>







		</section>


	</main>

	<!-- <h3>Check out this useful links</h3> -->
	<hr>
	<hr
		style="height: 1px; border-width: 0; color: gray; background-color: gray">
	<footer class="footer-container2">

		<div class="footer-follow-me2">
			<button class="facebook">
				<span class="iconify" data-inline="false"
					data-icon="dashicons:facebook"></span> <label for="facebook">facebook</label>
			</button>
			<button class="linkedin">
				<span class="iconify" data-inline="false" data-icon="el:linkedin"></span>
				<label for="linkedin">linkedin</label>
			</button>
			<button class="twitter">
				<span class="iconify" data-inline="false"
					data-icon="vaadin:twitter-square"></span> <label for="twitter">twitter</label>
			</button>
			<button class="youtube">
				<span class="iconify" data-inline="false"
					data-icon="ant-design:youtube-outlined"></span> <label
					for="youtube">youtube</label>
			</button>


		</div>

		<div class="copyright2">
			<h5>Conveniently redefine world-class e-business after state of
				the art relationships. Authoritatively streamline standardized users
				without efficient "outside the box" thinking. Uniquely whiteboard.</h5>

		</div>
	</footer>








	<script src="../css/script.js" defer></script>
</body>

</html>