<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
 <div th:replace="header:: head-register"></div>
	<title>BZBees - add skills</title>
</head>

<body>

 <header>
      <div th:replace="header::nav"></div>

    </header>

	<main>
	
	
		
		
		<section class="register_form">
				
				<div class="account" style="margin-top: 2rem;">
				<h6 th:text="${createdUser}" style="color:red"></h6>
				<h6 th:text="${activateUser}"></h6>
				</div>
				

				<h3>Skills</h3>
				
			
			<form th:action="@{/user/saveSkills}" th:object="${skill}"
				method="POST">
				<!-- <input type="hidden" name="_csrf" th:value="$(_csrf.token)" /> -->
				<div class="login-buttons">
					
				
					<h4>You can definitely add a skill now or... later</h4>
 					<button type="submit" name="next" class="button_login"><p>Next</p>
 					<i class="fas fa-angle-right fa-2x"></i>
<!--  					<span class="iconify" id="next_mobile" data-icon="bx:bxs-skip-next-circle" data-inline="false"></span>
 					<span class="iconify" id="next_desk" data-icon="ic:baseline-navigate-next" data-inline="false"></span> -->
 					</button> 
 		
				</div>

			</form>

			<form th:action="@{/user/addSkill}"  id="form-skill-submit" th:object="${skill}"
				method="POST">
				<div class="input_elements">
						
						<div class="input_field">
							<input autofocus th:field="${skill.skillName}" type="text" placeholder="skill name"  >
							<label>skill name</label>
	                     </div>
	                     
	                     <div class="input_field">
							<textarea id="skill" th:field="${skill.skillDescription}" placeholder="short description, tools used, location etc"></textarea>
							<label>a good description:</label>
	                     </div>


					<button type="submit" class="btn">
						<p>
							add skill </p><i
					 id="toSpin" class="fas fa-plus"></i>
						</button>



					<script type="text/javascript" th:inline="javascript">
				
				const formSubmitSkill = document.getElementById('form-skill-submit');
				var formData = $(formSubmitSkill).serialize();
				
				formSubmitSkill.addEventListener('submit', submitSkill);
				
				function submitSkill () {
					
					event.preventDefault();	
					console.log('I get called')
					 
					$.ajax({
						type:"POST",
						url: $(formSubmitSkill).attr('action'),
						
						data: $(formSubmitSkill).serialize(),		
						datatype: "application/javascript",
						beforeSend: function() {
				
							document.getElementById('toSpin').classList.add('fa-spin');

						},
						complete: function() {
							
						
							
						},
 						success:function(data) {
							
							
						
						$( "#skills_table").load(window.location.href + " #skills_table" );
						
						$( "#form-skill-submit").load( " #form-skill-submit" );
						
						
						
						
						}
					});
				
				}
				
				
			
			</script>
					
				</div>
			</form>
			
		
			
			
			
			
			<table class="skill_table" id="skills_table">
			
			<caption style="text-align:left;">Skills table</caption>
			
				<tbody>

					<tr th:each="aSkill : ${skillsList}" style="height: 4rem;">
						<th id="skill_name" th:text="${aSkill.skillName}">Java</th>
						<td id="skill_description" th:text="${aSkill.skillDescription}">Basic knowledge</td>
						<td type="hidden" th:value="${aSkill.skillId}" style="width: 2%"></td>

						<td>
						<a  
							th:attr="onclick=|deleteSkill('${aSkill.skillId}')|"
								class="btn btn-danger btn-sm"

								onClick="if (! (confirm('Are you sure you want to delete this skill?'))) return false">
							<i class="fas fa-trash-alt" style="color:white"></i>
							</a>
							
							<script>
							function deleteSkill(skillId) {		
										
        								alert('delete -' + skillId +  '- was clicked');
        								console.log(skillId);
										event.preventDefault();	
										
										$.ajax({
											type:"GET",
											url:"/user/deleteSkill?id=" + skillId,											
											async: false,
											success:function(data) {
											
											$( "#skills_table").load( " #skills_table" );
						
										
											}
										});
    								}
							
							</script>

						</td>
					</tr>
					<div class="input_elements"></div>

				</tbody>

			</table>
			
		
			
		</section>


	</main>
<!-- <h3>Check out this useful links</h3> -->
    <hr>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <footer class="footer-container2">

        <div class="footer-follow-me2">
            <button class="facebook">
                <span class="iconify" data-inline="false" data-icon="dashicons:facebook"></span>
                <label for="facebook" >facebook</label>
            </button>
            <button class="linkedin">
                <span class="iconify" data-inline="false" data-icon="el:linkedin"></span>
                <label for="linkedin">linkedin</label>
            </button>
            <button class="twitter">
                <span class="iconify" data-inline="false" data-icon="vaadin:twitter-square"></span>
                <label for="twitter">twitter</label>
            </button>
            <button class="youtube">
                <span class="iconify" data-inline="false" data-icon="ant-design:youtube-outlined"></span>
                <label for="youtube">youtube</label>
            </button>


        </div> 

         <div class="copyright2">
            <h5>Conveniently redefine world-class e-business after state of the art relationships. Authoritatively streamline standardized users without efficient "outside the box" thinking. Uniquely whiteboard.</h5>

        </div> 
    </footer>



	<script src="../css/script.js" defer></script>

</body>

</html>