<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--<![endif]-->

<head>
	<div th:replace="header:: head-register"></div>
	<title>BZBees - register agency</title>
</head>

<body >

    <header>
        <div th:replace="header::nav"></div>
    </header>

    <main>
        <section  class="register_form">
        
            <form data-persist="garlic" th:action="@{/agency/save}" th:object="${agency}" method="POST" >
            
           <!--  <input type="hidden" name="_csrf" th:value="$(_csrf.token)" /> -->

                <div class="account_profile">
                    
                    <div class="profile">

                        <h3 class="register_home">owner</h3>
                        
                        <div class="input_elements">
                        
                        <div class="profile_details">
							<div class="profile_avatar">


						<p>	
							<span th:if="${#lists.isEmpty(lastPicList)}" class="iconify"
								data-icon="whh:profile" data-inline="false"></span>
							<ul>
								<li th:if="${not #lists.isEmpty(lastPicList)}"
									th:each="thePic : ${lastPicList}"><img
									th:src="@{/person/img(imgId=${thePic.picId})}" style="size: 10%">
								</li>

							</ul>
							
						</p>


						<label th:text="${person.firstName} +' '+ ${person.lastName}"
							id="profile-avatar-text">firstName</label>

					</div>


					<div class="profile_details_desktop">
						<div class="profile_personal">
										
							<div class="profile_personal_fields">
								<h6>birth date:</h6>
								<div th:text="${#dates.format(person.BirthDate, 'dd-MMM-yyyy')}" 
								id="birthdate">15-05-2000</div>

								 
							</div>
							

						</div>

						<div class="profile_status">
						
							<div class="profile_personal_fields">
							<h6>email:</h6>
							<div th:text="${person.email}" id="email">jo@thePeru.com</div>
							</div>
							
							<div class="profile_personal_fields">
							<h6>job status:</h6>
							<div id="jobStatus">employeed</div>
							</div>
							<br>
						</div>

					</div>

				</div>
                        
                        	
                
                        </div>

                    </div>
                    
                    <div class="account">

                        <h3 class="register_home">agency's legal</h3>

                        <input type="hidden" th:field="${agency.agencyId}" /> 
                        <div class="input_elements">
                             <div class="input_field">
	                            <input type="text" required="required"  th:field="${agency.agencyName}" placeholder="agency's legal name"> 
    							<label>agency's legal name<span> *</span></label>
                        	</div>
                        	
                        	<div class="input_field">
                            <input th:value="${userAccount.username}"  
                            		type="text" required="required" readonly autocomplete="off" 
                            		placeholder="administrator" style="color:gray"> 
                            <label>administrator (can change after registration)<span> *</span></label>
                        	</div>
                        	
                        	
                        	<div class="input_field">
				                         <input type="text" th:field="${agency.uniqueRegCode}" id="uniqueRegCode"
				                         placeholder="unique registration code">
                            			
				                        <label for="uniqueRegCode">Unique Registration Code<span> *</span></label> 
			                     	</div> 
						
								<div class="input_field">
			                   		<input th:field="${agency.regComNumber}" type="text" required="required" placeholder="Registration of Commercial Number">
								 	<label>current job<span> *</span></label>
			                     </div>
                        	
<!--                          	<input type="text" th:field="${agency.userFullName}"> 
                         	<input type="text" th:field="${agency.userCredentials}">
                        	
                        	 	<div class="input_field">
				                    <input id="date" th:field="${agency.userBirthDate}" type="datetime" required="required"  onclick="(this.type='date')" onblur="(this.type='text')" placeholder="user birth date...">
									<label>user birth date<span> *</span></label>
	                     		</div> -->
	                     		
               
          	
                                           	
                        </div>

                    </div>


                    
                </div>
                
                 <h3 class="register_home">agency's info</h3>
                
       <!--           <hr style="height:1px;border-width:0;color:gray;background-color:gray;width:90%;">  -->


               <div class="register_form2">
               
               		<div class="input_jobinfo">
               		
	               		 <div class="input_elements">
	               		 
						      <div class="input_field">
			                   		<input th:field="${agency.legalAddress}" type="text" required="required" placeholder="legal address">
								 	<label>legal address<span> *</span></label>
			                     </div>
				               
				                <div class="input_field">
			               			<input id="phoneNumber" th:field="${agency.phoneNumber}" type="text" required="required" 
			               			 onclick="(this.type='number')" onblur="(this.type='text')" placeholder="official phone number">
				              		<label>company's phone number<span> *</span></label>
		                     	</div>
         	  
			                   
	               		 </div>
	               		
			             <div class="input_elements">
			                
				         
			            </div>
			            	
			            	 <div class="input_field">
			               			<input id="email" th:field="${agency.email}" type="email" required="required" placeholder="email">
				              		<label>company's email<span> *</span></label>
		                     	</div>
			                        
                            
                            
                            
                           
							
               		</div>
							
						<div class="input_elements">
						
							 <div class="input_field">
			               			<input id="url" th:field="${agency.webAddress}" type="url" required="required" placeholder="website">
				              		<label>company's website<span> *</span></label>
		                     	</div>
							  <div class="input_field">
				               		<textarea id="description" th:field="${agency.shortDescription}" required="required" placeholder="Describe the jobs your agency is providing" ></textarea>
				                	<label>What kind of jobs do provide?<span> *</span></label>
		                     	</div>
						</div>
               		
                     
                </div>

                <div class="login-buttons">

                    <button type="button" class="button_login">
                    	<p>Cancel</p>
                    	<span class="iconify" id="next_desk"  data-icon="topcoat:cancel" data-inline="false"></span>
						<span class="iconify" id="next_mobile" data-icon="ic:sharp-cancel" data-inline="false"></span>
						
					</button>

                    <button type="submit" class="button_login">
	                    <p>Next</p>
						<span class="iconify" id="next_mobile" data-icon="bx:bxs-skip-next-circle" data-inline="false"></span>
	 					<span class="iconify" id="next_desk" data-icon="ic:baseline-navigate-next" data-inline="false"></span>
 					</button> 



                </div>
                <br>


            </form>

        </section>


    </main>
    <!-- <h3>Check out this useful links</h3> -->
    <hr>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray"> 
    <footer class="footer-container2">

        <div class="footer-follow-me2">
            <button class="facebook">
                <span class="iconify" data-inline="false" data-icon="dashicons:facebook"></span>
                <label for="facebook" >facebook</label>
            </button>
            <button class="linkedin">
                <span class="iconify" data-inline="false" data-icon="el:linkedin"></span>
                <label for="linkedin">linkedin</label>
            </button>
            <button class="twitter">
                <span class="iconify" data-inline="false" data-icon="vaadin:twitter-square"></span>
                <label for="twitter">twitter</label>
            </button>
            <button class="youtube">
                <span class="iconify" data-inline="false" data-icon="ant-design:youtube-outlined"></span>
                <label for="youtube">youtube</label>
            </button>


        </div> 

         <div class="copyright2">
            <h5>Conveniently redefine world-class e-business after state of the art relationships. Authoritatively streamline standardized users without efficient "outside the box" thinking. Uniquely whiteboard.</h5>

        </div> 
    </footer>


	





    <script src="../css/script.js" defer></script>
</body>

</html>