<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--<![endif]-->

<head>
	<div th:replace="header:: head"></div>
	

	
	<title>BZBees - profile</title>

</head>

<body>

	<header>
		 
		 
		 <div th:replace="header::nav"></div>
		 
		 
	</header>

 
 <main>
 
<div class="job-page-parent">	
	<section class="job-page">
		<div>
				<div class="job-page-container single-job-page">	
						

					<div class="job-card " id="single-job-card" >
						<div class="job-page-card-header">
						
						<div id="agency-avatar" class="job-page-agency-avatar" >
																
							<div id="agency-image-container" >					
								<a  th:href="@{/agencyProfile(id=${aAgency.agencyId})}"
									th:if="${job.theAgency.lastAgencyImageId < 0}">
									<span  class="iconify" data-icon="bytesize:work" data-inline="false" ></span>
								</a> 
								
		
								 <img th:if="${job.theAgency.lastAgencyImageId > 0}"
											th:src="@{/agency/img(imgId=${job.theAgency.lastAgencyImageId}, agencyId=${job.theAgency.agencyId})}">                         
	                           
	                           </div>
	                           
	                           <a id="agency-avatar-text" style=" font-size: 18px;" 	                           
									th:text="${job.theAgency.agencyName}"
	                           		th:href="@{/agencyProfile(id=${aAgency.agencyId})}">	
	                           </a>
	                           
	                     </div>      
							<a id="job-card-title" th:text="'position: ' + ${job.jobTitle}" style="padding-right: 0.3rem;">Value</a>	
      					</div>
      					
                        <div id="job-card-main">
                            <a id="job-card-img" th:if="${job.lastImageId < 1}">
	                           
											<span  class="iconify" data-icon="bytesize:work" data-inline="false" style="font-size: 5rem;"></span>
							</a>
		
							<img id="job-card-img" th:if="${job.lastImageId > 0}"
								th:src="@{/agency/jobimg(imgId=${job.lastImageId}, jobId=${job.jobId})}" style="size: 10%">
 	
                            
                            <div id="read-more-modal">
                            
                            <a	id="agency-avatar-text" th:text="'location: ' + ${job.jobLocation}">Value</a>
                            
                            <div sec:authorize="isAuthenticated()"  id="agency-avatar-text">
	                            	<div  th:text="'start: ' + ${#dates.format(job.startDate, 'dd-MMM-yyyy')} " 
	                            			
										id="startDate">14.05.2014</div>
									
	                         </div>
	                            
	                            <div sec:authorize="isAuthenticated()"  id="agency-avatar-text">
	                            	<div th:text="' salary: ' + ${job.salary} + ' ' + ${job.currency} + '/h'" 
	                            			
										id="salary">14.05.2014</div>
									
	                            </div> 
	                            							
                            </div>                     
                           
                           
                          </div>  
                          
                         <div class="job-card-text-body">
                        
                         <h5>working conditions:</h5>
                            <div id="job-card-text" th:text="${job.workingConditions}"> Project type, work type general conditions, special ... </div>
							<br>
							<h5>necessary documents:</h5>
                            <div id="job-card-text" th:text="${job.necessaryDocuments}"> Project type, work type general conditions, special ... </div>
                            <br>
                            <h5>job tasks:</h5>                            
                            <div id="job-card-text" th:text="${job.responsabilities}"> Project type, work type general conditions, special ... </div>
                            <!-- <a>read more</a> -->
                            
                             <div id="job-card-hashes">
								<ul id="job-card-hashes" th:each="tag : ${jobTagsList}">
									<li th:if="${job.jobId} == ${tag.theJob.jobId}"
										th:text="'#'+${tag.tag}"></li>

								</ul>
							</div>
                         </div>                   

							<div id="job-card-footer" style="margin-bottom: 1.5rem;margin-top:0.5rem;">


                            <div class="card-interact" th:id="'read-more-card-interact' + ${job.jobId}">

                               <a sec:authorize="isAnonymous()" th:href="@{/login}"
									class="button-addToList" style="background-color:#FFFFFF">
                                	<span class="iconify" data-icon="mdi:clipboard-list" data-inline="false" style="color:#E9D415;background-color:#FFFFFF"></span>
                                </a>
                                
                                
                                  <button sec:authorize="isAuthenticated()" 
                                		th:if="${not #lists.contains(userJobsInList,job.jobId)}"
                                		class="button-addToList" style="background-color:#FFFFFF"
                                		th:attr="onclick=|(saveJobToList(${job.jobId}))|">
                                	<span 	th:id="'jobIdNotInList' + ${job.jobId}"
                                			class="iconify" data-icon="mdi:clipboard-list" data-inline="false" 
                                			style="color:#E9D415;background-color:#FFFFFF"></span>
                                	<span 	th:id="'jobIdInList' + ${job.jobId}"
                                			class="iconify" data-icon="bx:bx-list-check" data-inline="false" style="color:#1F9A01;background-color:#FFFFFF;display:none"></span>
                                	
                                </button>
                                <script type="text/javascript" th:inline="javascript">
                                	function saveJobToList(jobId){
                                		
                                		Pace.options = {
 									 		ajax: false
										}
										
										$.ajax({
											type: "GET",
											url: "/addJobToList?jobId=" + jobId,
											beforeSend: function() {
                                			
                                				$(" #jobIdInList-readMore" + jobId).css('display','flex');
                                				$(" #jobIdNotInList-readMore" + jobId).css('display','none');
                                			

                                		},
                                		completed: function () {
                                		                            			
                                		
                                			
                                		},
                                		success: function () {
                                			$(" #read-more-card-interact-readMore" + jobId).load(window.location.href + " #read-more-card-interact" + jobId);
                                			$(" #card-interact" + jobId).load(window.location.href + " #card-interact" + jobId);
                                		},
											
											
										}); 
                                	
                                	}
                                
                                </script>
                                <button sec:authorize="isAuthenticated()" 
                                		th:if="${#lists.contains(userJobsInList,job.jobId)}" 
                                	class="button-addToList" style="background-color:#FFFFFF">
                                	<span class="iconify" data-icon="bx:bx-list-check" data-inline="false" style="color:#1F9A01;background-color:#FFFFFF"></span>
                                </button>
                               


								<div class="button-share">
    							<details class="buttonShare"  data-popover="down">
    								<summary>
    									<span class="iconify" data-icon="ri:user-voice-line" data-inline="false" style="color:#E9D415;"></span>
    								</summary>
    								<div class="popover-main">
    									<h6 style="font-size: 0.6rem;">share this job</h6>
    									<form >

    										<div class="input_field">
	    									<input  th:value="'https://hrm.bpeople.ro/showJob/' + ${job.jobId}" 
	    											autofocus th:id="'copyText' + ${job.jobId}" type="text"></input>
											<a th:attr="onclick=|(copyText('${job.jobId}'))|" style="cursor:pointer;color: white;" class="btn btn-sm btn-secondary">copy</a>
											</div>
    									</form>
    									
    									<script type="text/javascript" th:inline="javascript">
    										function copyText(jobId) {
	    										var copyText = document.getElementById("copyText" + jobId);
	    										console.log(jobId);
	    										copyText.focus();
												copyText.select();
												//copyText.setSelectionRange(0, 99999);//for mobile devices
												document.execCommand("copy");
												   										
    										}
    									
    									</script>
		
									</div>
    							
    							</details>
    							</div>

								
								<button sec:authorize="isAnonymous()" class="button-like" 
									th:onclick="@{/login}">
								<span class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303"></span>
								</button>

								 
								 

								
													
                                <button sec:authorize="isAuthenticated()"  th:if="${#lists.contains(userJobsLiked, job.jobId)}"
                                	th:attr="onclick=|(pressreadmoreunlikeJob(${job.jobId}))|" class="button-like" th:id="likeButton + ${job.jobId}">
                                	<span 
                                			th:id="'readmorejobidfull' + ${job.jobId}"  style="color:#B10303;"
                                			class="iconify" data-icon="clarity:heart-solid" data-inline="false"></span>
                                			
                                	<span 
                                			th:id="'readmorejobidempty' + ${job.jobId}" 
                                		class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303;display:none"></span>
                                	
                                	</button>  
                                	
                                <script th:inline="javascript" type="text/javascript" >
                                		
                                function pressreadmoreunlikeJob(jobId) {
                                	
                                	console.log('heart pressed')
                                		Pace.options = {
 									 		ajax: false
										}
                                	
                                	
                                	$.ajax({
                                		type: "GET",
                                		url:"/likeJob?jobId=" + jobId,
                                		beforeSend: function() {
                                			
                                			$(" #readmorejobidempty" + jobId).css('display','flex');
                                			$(" #readmorejobidfull" + jobId).css('display','none');
                                			

                                		},
                                		completed: function () {
                                		                            			
                                		
                                			
                                		},
                                		success: function () {
                                			$(" #read-more-card-interact" + jobId).load(window.location.href + " #read-more-card-interact" + jobId);
                                			$(" #card-interact" + jobId).load(window.location.href + " #card-interact" + jobId);
                                		},
                                		
                                	
                                	});
                                	          
                                }
                                
                                </script>
                                
                                
                                 <button sec:authorize="isAuthenticated()" th:if="${not #lists.contains(userJobsLiked, job.jobId)}"
                                	th:attr="onclick=|(pressreadmorelikeJob(${job.jobId}))|" class="button-like" th:id="likeButton + ${job.jobId}">
                                	<span  
                                			th:id="'readmorejobidfull' + ${job.jobId}"  style="color:#B10303;display:none;"
                                			class="iconify" data-icon="clarity:heart-solid" data-inline="false"></span>
                                	<span 
                                			th:id="'readmorejobidempty' + ${job.jobId}" 
                                		class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303"></span>
                                	</button>  
                                	
                                <script th:inline="javascript" type="text/javascript" >
                                		
                                function pressreadmorelikeJob(jobId) {
                                	
                                	console.log('heart pressed')
                                		Pace.options = {
 									 		ajax: false
										}
                                	
                                	
                                	$.ajax({
                                		type: "GET",
                                		url:"/likeJob?jobId=" + jobId,
                                		beforeSend: function() {
                                			
                                			$(" #readmorejobidfull" + jobId).css('display','flex');
                                			$(" #readmorejobidempty" + jobId).css('display','none');

                                		},
                                		completed: function () {
                                		                            			
                                			
                                			
                                		},
                                		success: function () {
											$(" #read-more-card-interact" + jobId).load(window.location.href + " #read-more-card-interact" + jobId);
											$(" #card-interact" + jobId).load(window.location.href + " #card-interact" + jobId);
                                		},
                                		
                                	
                                	});
                                	          
                                }
                                
                                </script>
                                                             
                               
                                                             
                                <div class="like-text" th:id="likes + ${job.jobId}" th:text="${job.jobLikesCount} + ' likes'">256 likes</div>
                                
                                
                                
                            </div>

                               <div class="apply" th:if="${#authentication.name} != ${job.theAgency.user.userName}">

                                <a sec:authorize="isAnonymous()" th:href="@{/login}"
									class="button-addToList" style="background-color:#FFFFFF">
                                	<img src="../css/buttons/openJob2.svg" alt="like"/>
                                </a>
                                
                                <button sec:authorize="isAuthenticated()" 
                                		th:unless="${userAccount.jobApproved} == true"
                                		th:if="${not #lists.contains(userJobsIdApplied,job.jobId)}"
                                		class="button-addToList" style="background-color:#FFFFFF"
                                		th:attr="onclick=|(applyToJob(${job.jobId}))|">
                                	<img 	th:id="'jobIdNotApplied' + ${job.jobId}"
                                			
                                			style="color:#E9D415;background-color:#FFFFFF"
                                			src="../css/buttons/openJob2.svg"/>
                                	<img 	th:id="'jobIdApplied' + ${job.jobId}"
                                			style="color:#1F9A01;background-color:#FFFFFF;display:none"
                                			src="../css/buttons/applied.png" ></img>
                                	
                                </button>
                                
                                <script type="text/javascript" th:inline="javascript">
                                	function applyToJob(jobId){
                                		
                                		Pace.options = {
 									 		ajax: false
										}
										
										$.ajax({
											type: "GET",
											url: "/applyToJob?jobId=" + jobId,
											beforeSend: function() {
                                			
                                				$(" #jobIdApplied" + jobId).css('display','flex');
                                				$(" #jobIdNotApplied" + jobId).css('display','none');
                                			

                                		},
                                		completed: function () {
                                		                            			
                                		
                                			
                                		},
                                		success: function () {
                                			$(" #read-more-card-interact" + jobId).load(window.location.href + " #read-more-card-interact" + jobId);
                                			$(" #card-interact" + jobId).load(window.location.href + " #card-interact" + jobId);
                                		},
											
											
										}); 
                                	
                                	}
                                
                                </script>
                                <label sec:authorize="isAuthenticated()"  
                                th:if="${#lists.contains(userJobsIdApplied,job.jobId)}" 
                                style="margin-right:0.2rem;margin-top: 0.5rem;font-size: 0.7rem;color:#1F9A01;">
                                		applied</label> 
                                <button sec:authorize="isAuthenticated()" 
                                		th:if="${#lists.contains(userJobsIdApplied,job.jobId)}" 
                                	class="button-addToList" style="background-color:#FFFFFF;">
                                	<img 	th:id="'jobIdApplied' + ${job.jobId}"
                                			style="color:#1F9A01;background-color:#FFFFFF;"
                                			src="../css/buttons/applied.png" />
                                	<img 	th:id="'jobIdNotApplied' + ${job.jobId}"
                                			
                                			style="color:#E9D415;background-color:#FFFFFF;display:none;"
                                			src="../css/buttons/openJob2.svg"></img>
                                </button>
                                

                            </div>
                        </div>
                    
                    </div>
                    


                 



                    <br><br><br>
                </div>
                
                
				</div>

		
	</section>
	
<section class="agencies" id="job-single-page-agency">
                <div class="main-yellow-text">agencies</div>

                <div  class="agencycard-container">

                    <div class="agencycard">

                        <div id="agencycard-bg">
                            <div id="agencycard-header">

                                <div id="agencycard-avatar">
                                
									<div id="agency-image-container">
										<a th:if="${aAgency.lastAgencyImageId < 1}"
											th:href="@{/agencyProfile(id=${aAgency.agencyId})}">
											<span 
											class="iconify" data-icon="whh:profile" data-inline="false">here</span>
										</a>
										
										<a th:if="${aAgency.lastAgencyImageId != null}" 
											th:href="@{/agencyProfile(id=${aAgency.agencyId})}">
											<img th:if="${aAgency.lastAgencyImageId > 0}"
											th:src="@{/agency/img(imgId=${aAgency.lastAgencyImageId}, agencyId=${aAgency.agencyId})}">
										</a>
											

									</div>
									
									<a th:text="${aAgency.agencyName}" id="agencycard-avatar-text" th:href="@{/agencyProfile(id=${aAgency.agencyId})}">the JobBoss</a>

                                </div>

                               	<div class="arrow">
                                    <div class="line"></div>
                                    <div class="point"></div>
                                    <div class="point2"></div>
                                </div>
                            </div>



                            <div id="agencycard-left-details">
                                <div id="agencycard-location">
                                    <h6>location:</h6>
                                    <h4 th:text=${aAgency.legalAddress}>Denmark</h4>
                                </div>

                                <div id="agencycard-joblocation">
                                    <h6>jobs location:</h6>
                                    <ul th:each = "job: ${aAgency.postedJobs}">
                                    	<li th:text="${job.jobLocation} + ', '">
                                    	
                                    	</li>
                                    </ul>
                                </div>

                                <div id="agencycard-jobs">
                                    <h6>jobs:</h6> 
                                    
                                    <ul th:each = "job: ${aAgency.postedJobs}">
                                    	<li th:text="${job.jobTitle} + ', '">
                                    	
                                    	</li>
                                    </ul>
                                </div>

                                <div id="agencycard-mainindustries">
                                    <h6>main industries:</h6>
                                    <h4>IT, software development</h4>
                                </div>

                            </div>

                            <div id="agencycard-rightdetails">

                                <div id="agencycard-icns">
                                    <img src="../css/cards/agencycard_candidates.png" />
                                    <h4 th:text="${#lists.size(aAgency.affiliatedUsers)}">357</h4>
                                    <h6>candidates</h6>
                                </div>

                                <div id="agencycard-icns">
                                    <img src="../css/cards/agencycard_avgSalary.png" />
                                    <h4>$ 56/h</h4>
                                    <h6>average salary</h6>
                                </div>

                            </div>

                        </div>


                        <div th:id="'agencycard-footer' + ${aAgency.agencyId}" class="agency-card-footer">
                            <div id="agencycard-starRating" class="agency-Rating">
                                <p>4.5</p>
                                <img src="../css/cards/fullBlackStar.png" />
                                <img src="../css/cards/fullBlackStar.png" />
                                <img src="../css/cards/fullBlackStar.png" />
                                <img src="../css/cards/fullBlackStar.png" />
                                <img src="../css/cards/halfBlackStar.png" />
                            </div>

                            <div id="agency-likes">
                                <button sec:authorize="isAnonymous()" class="button-like" style="background-color: rgba(244, 228, 142, 0.63);" 
									th:onclick="@{/login}">
								<span class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303; "></span>
								</button>
												
                                <button sec:authorize="isAuthenticated()"  th:if="${#lists.contains(userAgencyLiked, aAgency.agencyId)}"
                                		style="background-color: rgba(244, 228, 142, 0.63);"
                                	th:attr="onclick=|(pressunlikeAgency(${aAgency.agencyId}))|" class="button-like" th:id="likeButton + ${aAgency.agencyId}">
                                	<span 
                                			th:id="'agencyidfull' + ${aAgency.agencyId}"  style="color:#B10303;"
                                			class="iconify" data-icon="clarity:heart-solid" data-inline="false"></span>
                                			
                                	<span 
                                			th:id="'agencyidempty' + ${aAgency.agencyId}" 
                                		class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303;display:none;"></span>
                                	
                                	</button>  
                                	
                                <script th:inline="javascript" type="text/javascript" >
                                		
                                function pressunlikeAgency(agencyId) {
                                	
                                	console.log('agency heart pressed')
                                		Pace.options = {
 									 		ajax: false
										}
                                	
                                	
                                	$.ajax({
                                		type: "GET",
                                		url:"/likeAgency?agencyId=" + agencyId,
                                		beforeSend: function() {
                                			
                                			$(" #agencyidempty" + agencyId).css('display','flex');
                                			$(" #agencyidfull" + agencyId).css('display','none');
                                			

                                		},
                                		completed: function () {
                                		                            			
                                		
                                			
                                		},
                                		success: function () {
                                			$(" #agencycard-footer" + agencyId).load(window.location.href + " #agencycard-footer" + agencyId);
                                			
                                		},
                                		
                                	
                                	});
                                	          
                                }
                                
                                </script>
                                
                                
                                 <button sec:authorize="isAuthenticated()" th:if="${not #lists.contains(userAgencyLiked, aAgency.agencyId)}"
                                 		style="background-color: rgba(244, 228, 142, 0.63);"
                                	th:attr="onclick=|(presslikeAgency(${aAgency.agencyId}))|" class="button-like" th:id="likeButton + ${aAgency.agencyId}">
                                	<span  
                                			th:id="'agencyidfull' + ${aAgency.agencyId}"  style="color:#B10303;display:none;"
                                			class="iconify" data-icon="clarity:heart-solid" data-inline="false"></span>
                                	<span 
                                			th:id="'agencyidempty' + ${aAgency.agencyId}" 
                                		class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303;"></span>
                                	</button>  
                                	
                                <script th:inline="javascript" type="text/javascript" >
                                		
                                function presslikeAgency(agencyId) {
                                	
                                	console.log('agency heart pressed')
                                		Pace.options = {
 									 		ajax: false
										}
                                	
                                	
                                	$.ajax({
                                		type: "GET",
                                		url:"/likeAgency?agencyId=" + agencyId,
                                		beforeSend: function() {
                                			
                                			$(" #agencyidfull" + agencyId).css('display','flex');
                                			$(" #agencyidempty" + agencyId).css('display','none');

                                		},
                                		completed: function () {
                                		                            			
                                			
                                			
                                		},
                                		success: function () {
	                                		$(" #agencycard-footer" + agencyId).load(window.location.href + " #agencycard-footer" + agencyId);
                                		},
                                		
                                	
                                	});
                                	          
                                }
                                
                                </script>
                                                             
                               
                                                             
                                <div class="like-text" th:id="likes + ${aAgency.agencyId}" th:text="${aAgency.agencyLikesCount} + ' likes'">256 likes</div>

                            </div>

                        </div>
                    </div>


                
                
                </div>



            </section>



        
</div>	
	
	
	
    <script src="../css/script.js" defer></script> 	
</main>



</body>
</html>