<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--<![endif]-->

<head>
	<div th:replace="header:: head"></div>
	

	
	<title>BZBees - profile</title>

</head>

<body>

	<header>
		 <div th:replace="header::nav"></div>
		 
		 
	</header>

	<main>
		<section th:object="${agency}" class="profile">
		
		
			<div class="profile_above_line">
			
				<h3> <span th:text="${agency.agencyName}" id="agency_name">AGENCY</span>'s profile</h3>
				 
				
				<div id="right_buttons">
				
				<a 	sec:authorize="isAnonymous()" 
					id="affiliate" th:href="@{/login}"
									name="affiliation">
								<i id="toSpin" class="fas fa-people-carry fa-2x"></i>
							get affiliated
					</a>
					<a 	sec:authorize="isAuthenticated()"
						id="affiliate"
						th:if ="${match} == true" 
									name="affiliation">
								<i id="pending" class="fa fa-2x"></i>
								
							pending affiliation
					</a>
					
					<script th:inline="javascript" type="text/javascript">
						function pendingaffiliation() {
						  var a;
						  if(document.getElementById("pending") != null) {
							  a = document.getElementById("pending");
							  a.innerHTML = "&#xf251;";
							  setTimeout(function () {
							      a.innerHTML = "&#xf251;";
							    }, 1000);
							  setTimeout(function () {
							      a.innerHTML = "&#xf252;";
							    }, 2000);
							  setTimeout(function () {
							      a.innerHTML = "&#xf253;";
							    }, 3000);
							  setTimeout(function () {
							      a.innerHTML = "&#xf254;";
							    }, 4000);
							}
						}
						pendingaffiliation();
						setInterval(pendingaffiliation, 5000);
						
					
					</script>
					
					<div sec:authorize="isAuthenticated()" 
						th:if="${userAccount.oneAgency} != null"
						id="affiliate" name="affiliation">
						<a th:if="${userAccount.oneAgency.agencyId} == ${agency.agencyId}" 
							style="color:orange;" 
							id="disaffiliate" onclick="disaffiliate()" href="" >
							<i id="toSpin" class="fas fa-people-arrows fa-2x" style="color:orange;"></i>

					
						<b>disaffiliate</b></a>
						
						<script th:inline="javascript" type="text/javascript">
							
							
							var anchorTag = document.getElementById('disaffiliate');
									
									function disaffiliate() {
        								//alert('disaffiliate was clicked');
        								var agencyId = [[${agency.agencyId}]]; 
        								event.preventDefault();
        								
				
										$.ajax({
											type:"GET",
											url:"/agency/disaffiliate?id=" + agencyId,
											beforeSend: function () {
												document.getElementById('toSpin').classList.add('fa-sync-alt');
												document.getElementById('toSpin').classList.remove('fa-people-arrows');
												document.getElementById('toSpin').classList.add('fa-spin');
											},
											completed: function (){
												document.getElementById('toSpin').classList.add('fa-sync-alt');
												document.getElementById('toSpin').classList.add('fa-people-arrows');
												document.getElementById('toSpin').classList.remove('fa-spin');
											},
											
											success:function(data) {
												
												$( "#affiliate").load(window.location.href + " #affiliate" );
												$( ".profile_docs").load(window.location.href + " .profile_docs" );
												$( ".candidate-list").load(window.location.href + " .candidate-list" );
												$( "#userNotification").load(window.location.href + " #userNotification" );
												$( ".notifications-list").load(window.location.href + " .notifications-list" );
												
											}
										});
    								}
						
						</script>
					</div>
					
					<div sec:authorize = "isAuthenticated()" th:if="${#authentication.name} != ${agency.user.userName}">					
					<a 	th:if ="${match} == false" th:unless="${userAccount.oneAgency} != null"
					id="affiliate" onclick="affiliate()" href=""
									name="affiliation">
	 
							<i id="toSpin" class="fas fa-people-carry fa-2x"></i>
<!-- 							<span class="iconify" data-icon="whh:affiliate" data-inline="false"></span> -->
							<b>get affiliated</b>
					</a>
					
					<script th:inline="javascript" type="text/javascript">
							var anchorTag = document.getElementById('affiliate');
									
									function affiliate() {
        								//alert('affiliate was clicked');
        								var agencyId = [[${agency.agencyId}]]; 
        								event.preventDefault();
        								
				
										$.ajax({
											type:"GET",
											url:"/agency/affiliate?id=" + agencyId,
											beforeSend: function () {
												document.getElementById('toSpin').classList.add('fa-sync-alt');
												document.getElementById('toSpin').classList.remove('fa-people-carry');
												document.getElementById('toSpin').classList.add('fa-spin');
												
											},
											completed: function (){
												document.getElementById('toSpin').classList.remove('fa-sync-alt');
												document.getElementById('toSpin').classList.remove('fa-spin');
												document.getElementById('toSpin').classList.add('fa-people-carry');
											},
											success:function(data) {
												
												

												$( "#affiliate").load(window.location.href + " #affiliate" );
												$( ".profile_docs").load(window.location.href + " .profile_docs" );
												$( "#userNotification").load(window.location.href + " #userNotification" );
												$( ".notifications-list").load(window.location.href + " .notifications-list" );
											}
										});
    								}
					
					</script>
					
					</div>
						
					<p>|</p>
					
					<a id="export" th:href="@{/agency/profilePDF}"  target="_blank">
							<i class="fas fa-file-export fa-2x"></i>
							<!-- <span class="iconify" id="next_mobile" data-icon="clarity:export-solid" data-inline="false"></span> -->
		<!-- 					<span class="iconify" id="next_desk" data-icon="carbon:export" data-inline="false"></span>	 -->				
						<b>export to pdf</b>
					</a>
				</div>
				
				
						
			</div>
			
			

			
			<hr class="new_line">
		
			<div class="profile_top">
				
				
						
						
				<div class="profile_details">
		
					<div class="profile_avatar">



			<div th:replace="modals::addAgencyProfileImg"></div>

				<div id="edit-profile-details">
						
						<button sec:authorize="isAuthenticated()" 
						th:if="${#authentication.name} != ${agency.user.userName}">

						<span th:if="${#lists.isEmpty(lastAgencyPicList)}" class="iconify"
								data-icon="whh:profile" data-inline="false"></span>
			

							<ul>
								<li th:if="${agency.lastAgencyImageId != null}">
								
									<img th:if="${agency.lastAgencyImageId > 0}"
										th:src="@{/agency/img(imgId=${agency.lastAgencyImageId}, agencyId=${agency.agencyId})}" style="size: 10%">
								</li>

							</ul> 

						</button>
						
						
						<button sec:authorize="isAuthenticated()" 
						th:if="${#authentication.name} == ${agency.user.userName}"
						data-toggle="modal" data-target="#agencyPicModal">

						<span th:if="${#lists.isEmpty(lastAgencyPicList)}" class="iconify"
								data-icon="whh:profile" data-inline="false"></span>
			

							<ul>
								<li th:if="${agency.lastAgencyImageId != null}">
								
									<img th:if="${agency.lastAgencyImageId > 0}"
										th:src="@{/agency/img(imgId=${agency.lastAgencyImageId}, agencyId=${agency.agencyId})}" style="size: 10%">
								</li>

							</ul> 

					<span id="reload" class="iconify" data-icon="ic:outline-change-circle" data-inline="false"
					 style="background-color:lightgray;"></span> 
						
						</button>
						
						<button sec:authorize="isAnonymous()" >

						<span th:if="${#lists.isEmpty(lastAgencyPicList)}" class="iconify"
								data-icon="whh:profile" data-inline="false"></span>
			

							<ul>
								<li th:if="${agency.lastAgencyImageId != null}">
								
									<img th:if="${agency.lastAgencyImageId > 0}"
										th:src="@{/agency/img(imgId=${agency.lastAgencyImageId}, agencyId=${agency.agencyId})}" style="size: 10%">
								</li>

							</ul> 

						</button>
						
					
						<button sec:authorize="isAuthenticated()" id="edit-profile-details-button" 
								th:if="${#authentication.name} == ${agency.user.userName}"
								data-toggle="modal" data-target="#editAgencyDetails">
								<span id="pencil" class="iconify" data-icon="carbon:edit" data-inline="false"></span>
							</button>
							
							<div th:replace="modals::editAgencyDetails"></div>
													

							
					</div>
					
					</div>


					<div class="profile_details_desktop" id="profile_details_reload">

						<div class="profile_personal">

							<div class="profile_personal_fields" 
									sec:authorize="isAuthenticated()" >
							<div th:if="${#authentication.name} == ${agency.user.userName}">
							<h6>
							<a  sec:authorize="isAuthenticated()" 
							th:if="${#authentication.name} == ${agency.user.userName}"
							th:href="@{/agency/cprofile(id=${person.personId})}">
							<label th:text= "'agency admin: ' + ${agency.adminName}"
							id="profile-avatar-text">firstName</label>
							</a>
							</h6>	
									
								<h6 th:if="${agency.agencyId != 0} and ${!agency.active}"
									style="color: red">agency owner:</h6>
								<h6 th:if="${agency.agencyId != 0} and ${agency.active}"
									style="color: green">agency owner:</h6>
								<label th:if="${agency.agencyId != 0}"
									th:text="' ' + ${agency.user.person.firstName} + ' ' + ${agency.user.person.lastName}"
									id="agency">agency name</label>
							</div>
							</div>

							<div class="profile_personal_fields">

								<h6 th:if="${!agency.active}" style="color: red">active:</h6>
								<h6 th:if="${agency.active}" style="color: green">active:</h6>
								<address id="location" th:text="${agency.active}">Lima,
									Peru</address>

							</div>

							<div th:if="${!agency.active}" class="profile_personal_fields">
								<details th:if="${#authentication.name} == ${agency.user.userName}" style="color: red">
									<summary>To do for completing activation</summary>
									<p style="color: red; margin-left: 1.5rem;">1. Must upload
										all company docs</p>
									<p style="color: red; margin-left: 1.5rem;">2. Must wait
										for document validation</p>
								</details>
								<br>
							</div>


							<div class="profile_personal_fields">

								<h6>address:</h6>
								<address id="location" th:text="${agency.legalAddress}">Lima,
									Peru</address>

							</div>



							<div class="profile_personal_fields">
								<h6>phone:</h6>
								<div th:text="${agency.phoneNumber}" id="birthdate">15-05-2000</div>


							</div>


						</div>

						<div class="profile_status">

							<div class="profile_personal_fields"
							sec:authorize="isAuthenticated()">
								<h6>email:</h6>
								<div th:text="${person.email}" id="email">jo@thePeru.com</div>
							</div>

							<div class="profile_personal_fields">
								<h6>web:</h6>
								<div id="jobStatus" th:text=${agency.webAddress}>employeed</div>
							</div>
							<br>
							<fieldset>
							
							<legend><a sec:authorize="isAuthenticated()" 
									th:if="${#authentication.name} == ${agency.user.userName}"
									data-toggle="modal"data-target="#addFacebook" id="editPencil"
									style="background-color:lightgray;cursor:pointer;"> 
								<span class="iconify" data-icon="ant-design:edit-twotone" 
									data-inline="false" style="background-color:lightgray;"></span >
								</a>social media links</legend>

							

							<div class="profile_personal_fields" >
								
<!-- 								<h6 id="underline"> add social media links</h6>	 -->
									
									
									
									
									
									<div class="social_media_links">

								<ul class="agency_social_media_list">
									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;FACEBook&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanFB}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
											<a sec:authorize="isAuthenticated()" 
												th:if="${#authentication.name} == ${agency.user.userName}"
											th:attr="onclick=|deleteAgencyFB('${aSocialMedia.urlAddress}')|">
											<span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialFB"	style="cursor:pointer;"></span></a> 
											
									<script th:inline="javascript" type="text/javascript">
									
										function deleteAgencyFB(url) {
											event.preventDefault();
										
											$.ajax({
												type:"GET",
												url: "/agency/deleteSocialMedia?url=" + url,
												
												beforeSend: function () {
													
													if($("#minus-socialFB") != null) {
														$("#minus-socialFB").addClass('fa-spin');
													}
												
												},
												complete: function () {
														$("#minus-socialFB").removeClass('fa-spin');																																				},
												
												
												success: function () {
												
													$( " .agency_social_media_list").load(window.location.href + " .agency_social_media_list");
													
												}});
											
										
									}
								
								
								</script>	   
													

									</li>
									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;LINKedin&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanLN}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
										<a sec:authorize="isAuthenticated()" 
										th:if="${#authentication.name} == ${agency.user.userName}" 
										th:attr="onclick=|deleteAgencyLN('${aSocialMedia.urlAddress}')|"><span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialLN"	style="cursor:pointer;"></span></a>  
											
										<script th:inline="javascript" type="text/javascript">
									
										function deleteAgencyLN(url) {
											event.preventDefault();
										
											$.ajax({
												type:"GET",
												url: "/agency/deleteSocialMedia?url=" + url,
												
												beforeSend: function () {
													
													if($("#minus-socialLN") != null) {
														$("#minus-socialLN").addClass('fa-spin');
													}
												
												},
												complete: function () {
														$("#minus-socialLN").removeClass('fa-spin');																																				},
												
												
												success: function () {
												
													$( " .agency_social_media_list").load(window.location.href + " .agency_social_media_list");
													
												}});
											
										
									}
								
								
								</script>	   	

									</li>

									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;TWITter&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanTW}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
										<a sec:authorize="isAuthenticated()" 
										th:if="${#authentication.name} == ${agency.user.userName}"
										th:attr="onclick=|deleteAgencyTW('${aSocialMedia.urlAddress}')|"> <span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialTW"	style="cursor:pointer;"></span></a>
											
											
								<script th:inline="javascript" type="text/javascript">
									
										function deleteAgencyTW(url) {
											event.preventDefault();
										
											$.ajax({
												type:"GET",
												url: "/agency/deleteSocialMedia?url=" + url,
												
												beforeSend: function () {
													
													if($("#minus-socialTW") != null) {
														$("#minus-socialTW").addClass('fa-spin');
													}
												
												},
												complete: function () {
														$("#minus-socialTW").removeClass('fa-spin');																																				},
												
												
												success: function () {
												
													$( " .agency_social_media_list").load(window.location.href + " .agency_social_media_list");
													
												}});
											
										
									}
								
								
								</script>   

									</li>

									<li 
										th:each="aSocialMedia : ${socialMediaList.?[name.contains(&quot;INSTAgram&quot;)]}">
										<a class="doc_name d-inline-block text-truncate"
										th:utext="${spanIN}" th:href="${aSocialMedia.urlAddress}" target="_blank">
											social media address</a>
										<a sec:authorize="isAuthenticated()" 
										th:if="${#authentication.name} == ${agency.user.userName}" 
										th:attr="onclick=|deleteAgencyIG('${aSocialMedia.urlAddress}')|">
										<span class="iconify" data-icon="ant-design:minus-circle-outlined" data-inline="false"
											id="minus-socialIG"	style="cursor:pointer;"></span></a> 
									<script th:inline="javascript" type="text/javascript">
									
										function deleteAgencyIG(url) {
											event.preventDefault();
										
											$.ajax({
												type:"GET",
												url: "/agency/deleteSocialMedia?url=" + url,
												
												beforeSend: function () {
													
													if($("#minus-socialIG") != null) {
														$("#minus-socialIG").addClass('fa-spin');
													}
												
												},
												complete: function () {
														$("#minus-socialIG").removeClass('fa-spin');																																				},
												
												
												success: function () {
												
													$( " .agency_social_media_list").load(window.location.href + " .agency_social_media_list");
													
												}});
											
										
									}
								
								
								</script> 		
										  

									</li>
								</ul>

							</div>
							
							
									

							</div>
							
							</fieldset>
							
						</div>
							
							
							

							<br>
						

					</div>

				</div>
				
					<div sec:authorize="isAuthenticated()" 
					th:if="${#authentication.name} != ${agency.user.userName}"					
					class="profile_docs">
					<i th:text="${agencyMessage}"  class="fas fa-quote-left fa-2x fa-pull-left profile_docs_header" style="font-size: 1.2rem;"></i>
					<p class="profile_docs_header"  style="font-style:italic;"></p>
					</div>
									
				<div sec:authorize="isAuthenticated()"
					th:if="${#authentication.name} == ${agency.user.userName}"					
					class="profile_docs">
				
					<h5 style="font-style: italic; margin-left:0.5rem">documents:</h5>	
					
						<div class="profile_docs_header">
						<h6 style="font-style: italic;margin-left:0.2rem">registration certificate:</h6>
							<button class="btn btn-sm btn-warning" id="addJob"
								data-toggle="modal" data-target="#addRegCertModal">
								add <span class="iconify" data-icon="bi:node-plus"
									data-inline="false"></span>
							</button>
						</div>
					
										
					<ul >
 						<li th:each="aCompanyDoc : ${companyDocList.?[docName.contains(&quot;reg_cert&quot;)]}"> 
						<i th:if="${!aCompanyDoc.approved}"><span style="color: #FF3D40;" class="iconify" data-icon="bi:stopwatch" data-inline="false"></span>pending</i>
						<i th:if="${aCompanyDoc.approved}"><span class="iconify" data-icon="bi:check2-circle" data-inline="false" style="color: #1f9a01;"></span></i>
							<a
							class="doc_name d-inline-block text-truncate"
							th:text="${aCompanyDoc.docName}"
							th:href="@{/agency/downloadFile(docId=${aCompanyDoc.compDocId})}">
								registration certificate</a>

							<div class="profile_docs_buttons btn btn-toolbar" 								
								role="toolbar">
 								
								<a 	th:href="@{/agency/displayFile(docId=${aCompanyDoc.compDocId})}"
									role="button" data-toggle="tooltip" data-html="true"
									title="see the document"
									data-content="click to see the document"> <span
									class="iconify" data-icon="ion:documents-outline"
									data-inline="false"></span></a> 
								<a
									th:href="@{/agency/deleteAgencyDoc(id=${aCompanyDoc.compDocId})}"
									onClick="if (! (confirm('Are you sure you want to delete this doc?'))) return false">
									<span class="iconify" data-icon="jam:trash-alt-f"
									data-inline="false"></span>
								</a>

							</div></li>
							

					</ul>
					
						<div class="profile_docs_header">
							<h6 style="font-style: italic;margin-left:0.2rem">confirmation of company details:</h6>
							<button class="btn btn-sm btn-warning" id="addJob"
							data-toggle="modal" data-target="#addCompDetailsModal">
							add <span class="iconify" data-icon="bi:node-plus"
								data-inline="false"></span>
						</button>
						</div>
						
					<ul>
						<li th:each="aCompanyDoc : ${companyDocList.?[docName.contains(&quot;comp_details&quot;)]}"> 	
						<i th:if="${!aCompanyDoc.approved}"><span style="color: #FF3D40;" class="iconify" data-icon="bi:stopwatch" data-inline="false"></span>pending</i>
						<i th:if="${aCompanyDoc.approved}"><span class="iconify" data-icon="bi:check2-circle" data-inline="false" style="color: #1f9a01;"></span></i>						
							<a
							class="doc_name d-inline-block text-truncate"
							th:text="${aCompanyDoc.docName}"
							th:href="@{/agency/downloadFile(docId=${aCompanyDoc.compDocId})}">
								company details</a>

							<div class="profile_docs_buttons btn btn-toolbar" 								
								role="toolbar">
 								
								<a 	th:href="@{/agency/displayFile(docId=${aCompanyDoc.compDocId})}"
									role="button" data-toggle="tooltip" data-html="true"
									title="see the document"
									data-content="click to see the document"> <span
									class="iconify" data-icon="ion:documents-outline"
									data-inline="false"></span></a> 
								<a
									th:href="@{/agency/deleteAgencyDoc(id=${aCompanyDoc.compDocId})}"
									onClick="if (! (confirm('Are you sure you want to delete this doc?'))) return false">
									<span class="iconify" data-icon="jam:trash-alt-f"
									data-inline="false"></span>
								</a>

							</div></li>
							

					</ul>
					
					
						<div class="profile_docs_header">
							<h6 style="font-style: italic;margin-left:0.2rem">agency's admin ID :</h6>
							<button class="btn btn-sm btn-warning" id="addJob"
							data-toggle="modal" data-target="#addAdminIdModal">
							add <span class="iconify" data-icon="bi:node-plus"
								data-inline="false"></span>
						</button>
						</div>
						
					<ul>
						<li th:each="aCompanyDoc : ${companyDocList.?[docName.contains(&quot;admin_Id&quot;)]}"> 
							<i th:if="${!aCompanyDoc.approved}"><span style="color: #FF3D40;" class="iconify" data-icon="bi:stopwatch" data-inline="false"></span>pending</i>
							<i th:if="${aCompanyDoc.approved}"><span class="iconify" data-icon="bi:check2-circle" data-inline="false" style="color: #1f9a01;"></span></i>
							<a
							class="doc_name d-inline-block text-truncate"
							th:text="${aCompanyDoc.docName}"
							th:href="@{/agency/downloadFile(docId=${aCompanyDoc.compDocId})}">
								Agency's admin ID</a>

							<div class="profile_docs_buttons btn btn-toolbar" 								
								role="toolbar">
 								
								<a 	th:href="@{/agency/displayFile(docId=${aCompanyDoc.compDocId})}"
									role="button" data-toggle="tooltip" data-html="true"
									title="see the document"
									data-content="click to see the document"> <span
									class="iconify" data-icon="ion:documents-outline"
									data-inline="false"></span></a> 
								<a
									th:href="@{/agency/deleteAgencyDoc(id=${aCompanyDoc.compDocId})}"
									onClick="if (! (confirm('Are you sure you want to delete this doc?'))) return false">
									<span class="iconify" data-icon="jam:trash-alt-f"
									data-inline="false"></span>
								</a>

							</div></li>
							

					</ul>
					
					<div class="profile_docs_header">
							<h6 style="font-style: italic;margin-left:0.2rem">other documents of the entity:</h6>
							<button class="btn btn-sm btn-warning" id="addJob"
							data-toggle="modal" data-target="#addOtherDocsModal">
							add <span class="iconify" data-icon="bi:node-plus"
								data-inline="false"></span>
						</button>
						</div>
						
					<ul>
						<li th:each="aCompanyDoc : ${companyDocList.?[docName.contains(&quot;otherDoc&quot;)]}"> 
							<i th:if="${!aCompanyDoc.approved}"><span style="color: #FF3D40;" class="iconify" data-icon="bi:stopwatch" data-inline="false"></span>pending</i>
							<i th:if="${aCompanyDoc.approved}"><span class="iconify" data-icon="bi:check2-circle" data-inline="false" style="color: #1f9a01;"></span></i>
							<a
							class="doc_name d-inline-block text-truncate"
							th:text="${aCompanyDoc.docName}"
							th:href="@{/agency/downloadFile(docId=${aCompanyDoc.compDocId})}">
								Other company documents</a>

							<div class="profile_docs_buttons btn btn-toolbar" 								
								role="toolbar">
 								
								<a 	th:href="@{/agency/displayFile(docId=${aCompanyDoc.compDocId})}"
									role="button" data-toggle="tooltip" data-html="true"
									title="see the document"
									data-content="click to see the document"> <span
									class="iconify" data-icon="ion:documents-outline"
									data-inline="false"></span></a> 
								<a
									th:href="@{/agency/deleteAgencyDoc(id=${aCompanyDoc.compDocId})}"
									onClick="if (! (confirm('Are you sure you want to delete this doc?'))) return false">
									<span class="iconify" data-icon="jam:trash-alt-f"
									data-inline="false"></span>
								</a>

							</div></li>
							

					</ul>
					

				</div>
			</div>
			
			<div th:replace="modals::addRegCert"></div>
			
			<div th:replace="modals::addCompDetails"></div>
			
			<div th:replace="modals::addAdminId"></div>
			
			<div th:replace="modals::addOtherDocs"></div>
			
			<div th:replace="modals::addFacebook"></div>
										
			
			<br>
			<hr class="new_line">
			<div class="candidate_headline">
				<div class="candidate_section">
					
					<h3>Candidates affiliated</h3>
		
					<ul  class="candidate-list" >
						<li class="candidate-strip" th:each="person : ${affiliatedPersonsList}" >
						
							<article 
								sec:authorize="isAuthenticated()"
								th:if="${#authentication.name} == ${agency.user.userName}"		
								class="candidate-pic">
								<div th:if="${person.lastImgId < 1}">
									<a th:href="@{/agency/cprofile(id=${person.personId})}"> 
									<span  class="iconify" data-icon="whh:profile" data-inline="false"></span>
									</a>
								</div>
											
								<a th:if="${person.lastImgId != null}"
									th:href="@{/agency/cprofile(id=${person.personId})}">
									<img th:if="${person.lastImgId > 0}" 
									th:src="@{/agency/candidateImg(imgId=${person.lastImgId}, personId=${person.personId})}" >
								</a>
							</article>
							
							<article 
							sec:authorize="isAuthenticated()"
							th:if="${#authentication.name} == ${agency.user.userName}"		
							class="candidate-details">
								<a  th:value="${person.personId}" 
									th:text="${person.firstName} + ' ' + ${person.lastName}"
									th:href="@{/agency/cprofile(id=${person.personId})}">
								First Name + Last Name</a>
								
								<div id="reference">
								<span>now in: </span><p th:text="' ' + ${person.location}"></p>								
								</div>
								<div id="reference">
								<span>born: </span><p th:text="' ' + ${#dates.format(person.BirthDate, 'dd-MMM-yyyy')}" ></p>
								</div>			
							</article>
							
							<article class="candidate-jobs">
								
								<div id="reference">
								<span>Job: </span> <p id="current-job" th:text="' ' + ${person.currentJob}"></p>
								</div>
								
								<div id="reference">
								<span>experience: </span><p th:text="' ' + ${person.workExperience} + ' years'"> years</p>
								</div>
								
								<div id="reference">
								<span>available: </span> <p th:text="' ' + ${#dates.format(person.availability, 'dd-MMM-yyyy')}"></p>
								</div>
							</article>
							
							<article class="candidate-jobDescription">
								<div id="reference">
								<span>job wish: </span> <p th:text="' ' + ${person.jobWishDesc}"></p>
								</div>
							</article>
							
										
						</li>
						
						
					</ul>
					
				</div>
			 </div>	
			 
			 	<h5 style="margin-left: auto;">... see all</h5>	
					
					<!-- VERY GOOD CODE FOR POPULATING A LIST  -->
					<!-- <div >
    					<select   id="dropOperator">
					    <option value="0">select operator</option>
					    <option th:each="user : ${affiliatedUsersList}" th:value="${user.userId}" th:text="${user.userName}"></option>
					    </select>
					</div> -->






				

	<div th:replace="modals::addAgencyJob"></div>
	
	<div th:replace="modals::addJobImg"></div>
				
 
		
		<hr class="new_line">	
		<div class="agency_jobs_headline">	
		
			<h3>Agency's job</h3>
				
			<button
				sec:authorize="isAuthenticated()"
				th:if="${#authentication.name} == ${agency.user.userName}"	 
				class="btn btn-sm btn-warning" id="addJob"
							data-toggle="modal" data-target="#addAgencyJob">
							add job <span class="iconify" data-icon="bi:node-plus"
								data-inline="false"></span>
			</button>
		
		</div>
		
		

			<div class=" job-card-container" id="allAgencyJobs">
			


				<ul th:each="job : ${agencyJobList}" class="job-card-container" id="agencyJobList">
					
					<li>
					
					
					<div class="job-card">
					
                        <div id="agency-avatar">
							
							<a th:if="${agency.lastAgencyImageId < 1 }">
								<span  class="iconify" data-icon="bytesize:work" data-inline="false" ></span>
							</a>
							
							
							
							<img th:if="${agency.lastAgencyImageId > 0}"
										th:src="@{/agency/img(imgId=${agency.lastAgencyImageId}, agencyId=${agency.agencyId})}">                         
                           
                           <div id="agency-avatar-text" 
                           		
								
								th:text="${agency.agencyName}">
                           
                           </div>
                           
                            <div th:replace="modals::editAgencyJob"></div>
		
	
									<!-- trigger the modal for jobEditModal -->
									<button sec:authorize="isAuthenticated()" th:id="editButton"
								th:if="${#authentication.name} == ${agency.user.userName}"		 
										data-toggle="modal" data-target="#editJobModal"
										th:attrappend="data-target=${job.jobId}">
										<span class="iconify" data-icon="ant-design:edit-outlined" data-inline="false" 
										style="background-color: white;"></span>
	<!-- 									<img src="../css/graphic/edit.png" alt="user" /> -->
									</button>
                           
                            
                        </div>
                        
                        <div id="job-card-main">
                        
                        	<div id="job-card-header">
                        	
                        	
                        
	                        <a id="job-card-img" th:if="${job.lastImageId < 1}">
											<span  class="iconify" data-icon="bytesize:work" data-inline="false" style="font-size: 5rem;"></span>
							</a>
		
							<img id="job-card-img" th:if="${job.lastImageId > 0}"
								th:src="@{/agency/jobimg(imgId=${job.lastImageId}, jobId=${job.jobId})}" style="size: 10%">
                            
                            
                            
                            <a id="job-card-title" th:text="${job.jobTitle} + ' / ' + ${job.jobLocation}">Value</a>
                            

							 </div> 				
					
                           
                            
                          	
                            	
                           <div id="read-more">
                           
                           
                           
                            	
                            	<div sec:authorize="isAuthenticated()" id="agency-avatar-text">
                            	<div  th:text="'start date: ' + ${#dates.format(job.startDate, 'dd-MMM-yyyy')} " 
                            			
									id="startDate">14.05.2014</div>
								
                            </div>
                            
                            <div sec:authorize="isAuthenticated()" id="agency-avatar-text">
                            	<div th:text="' salary: ' + ${job.salary} + ' ' + ${job.currency}" 
                            			
									id="startDate">14.05.2014</div>
								
                            </div>
                            
                             <div id="job-card-hashes">
								<ul id="job-card-hashes" th:each="tag : ${jobTagsList}">
									<li th:if="${job.jobId} == ${tag.theJob.jobId}"
										th:text="'#'+${tag.tag}"></li>

								</ul>
							</div>
							
                            <div id="job-card-text" th:text="${job.workingConditions}"> Project type, work type general conditions, special ... </div>
                             <button data-toggle="modal" th:data-target="'#showJobCard' + ${job.jobId}" >read more</button>
                            
                            <div th:replace="modals::showJob"></div>
                            </div>
	                                         
                        </div>
                        
                         <div th:id="'job-card-reloader' + ${job.jobId}">

							<div id="job-card-footer">


	                            <div class="card-interact" th:id="'card-interact' + ${job.jobId}">
	
	                                <button class="button-addToListActive"><img src="../css/buttons/addToListActive.png" alt="like"/></button>
	                                <button class="button-addToList"><img src="../css/buttons/addToList.png" alt="like"/></button>
	
	
	                               <div class="button-share">
    							<details class="buttonShare"  data-popover="down">
    								<summary>
    									<span class="iconify" data-icon="ri:user-voice-line" data-inline="false" style="color:#E9D415;"></span>
    								</summary>
    								<div class="popover-main">
    									<h6 style="font-size: 0.6rem;">share this job</h6>
    									<form >

    										<div class="input_field">
	    									<input  th:value="'https://hrm.bpeople.ro/showJob/' + ${job.jobId}" 
	    											autofocus th:id="'copyText' + ${job.jobId}" type="text"></input>
											<a th:attr="onclick=|(copyText('${job.jobId}'))|" style="cursor:pointer;color: white;" class="btn btn-sm btn-secondary">copy</a>
											</div>
    									</form>
    									
    									<script type="text/javascript" th:inline="javascript">
    										function copyText(jobId) {
	    										var copyText = document.getElementById("copyText" + jobId);
	    										console.log(jobId);
	    										copyText.focus();
												copyText.select();
												//copyText.setSelectionRange(0, 99999);//for mobile devices
												document.execCommand("copy");
												   										
    										}
    									
    									</script>
		
									</div>
    							
    							</details>
    							</div>

	
	
	                                <button sec:authorize="isAnonymous()" class="button-like" 
									th:onclick="@{/login}">
								<span class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303"></span>
								</button>
												
                                <button sec:authorize="isAuthenticated()"  th:if="${#lists.contains(userJobsLiked, job.jobId)}"
                                	th:attr="onclick=|(pressunlikeJob(${job.jobId}))|" class="button-like" th:id="likeButton + ${job.jobId}">
                                	<span 
                                			th:id="'jobidfull' + ${job.jobId}"  style="color:#B10303;"
                                			class="iconify" data-icon="clarity:heart-solid" data-inline="false"></span>
                                			
                                	<span 
                                			th:id="'jobidempty' + ${job.jobId}" 
                                		class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303;display:none"></span>
                                	
                                	</button>  
                                	
                                <script th:inline="javascript" type="text/javascript" >
                                		
                                function pressunlikeJob(jobId) {
                                	
                                	console.log('heart pressed')
                                		Pace.options = {
 									 		ajax: false
										}
                                	
                                	
                                	$.ajax({
                                		type: "GET",
                                		url:"/likeJob?jobId=" + jobId,
                                		beforeSend: function() {
                                			
                                			$(" #jobidempty" + jobId).css('display','flex');
                                			$(" #jobidfull" + jobId).css('display','none');
                                			

                                		},
                                		completed: function () {
                                		                            			
                                		
                                			
                                		},
                                		success: function () {
                                			$(" #read-more-card-interact" + jobId).load(window.location.href + " #read-more-card-interact" + jobId);
                                			$(" #card-interact" + jobId).load(window.location.href + " #card-interact" + jobId);
                                		},
                                		
                                	
                                	});
                                	          
                                }
                                
                                </script>
                                
                                
                                 <button sec:authorize="isAuthenticated()" th:if="${not #lists.contains(userJobsLiked, job.jobId)}"
                                	th:attr="onclick=|(presslikeJob(${job.jobId}))|" class="button-like" th:id="likeButton + ${job.jobId}">
                                	<span  
                                			th:id="'jobidfull' + ${job.jobId}"  style="color:#B10303;display:none;"
                                			class="iconify" data-icon="clarity:heart-solid" data-inline="false"></span>
                                	<span 
                                			th:id="'jobidempty' + ${job.jobId}" 
                                		class="iconify" data-icon="bytesize:heart" data-inline="false" style="color:#B10303;"></span>
                                	</button>  
                                	
                                <script th:inline="javascript" type="text/javascript" >
                                		
                                function presslikeJob(jobId) {
                                	
                                	console.log('heart pressed')
                                		Pace.options = {
 									 		ajax: false
										}
                                	
                                	
                                	$.ajax({
                                		type: "GET",
                                		url:"/likeJob?jobId=" + jobId,
                                		beforeSend: function() {
                                			
                                			$(" #jobidfull" + jobId).css('display','flex');
                                			$(" #jobidempty" + jobId).css('display','none');

                                		},
                                		completed: function () {
                                		                            			
                                			
                                			
                                		},
                                		success: function () {
	                                		$(" #read-more-card-interact" + jobId).load(window.location.href + " #read-more-card-interact" + jobId);
											$(" #card-interact" + jobId).load(window.location.href + " #card-interact" + jobId);
                                		},
                                		
                                	
                                	});
                                	          
                                }
                                
                                </script>
                                                             
                               
                                                             
                                <div class="like-text" th:id="likes + ${job.jobId}" th:text="${job.jobLikesCount} + ' likes'">256 likes</div>
                                

	                            </div>

	                            <div class="apply">
	                            
	                            	<a id="deleteButton" style="cursor: pointer;"
									th:if="${#authentication.name} == ${agency.user.userName}"
									th:attr="onclick=|deleteAgencyJob('${job.jobId}','${job.jobTitle}')|">
									<i class="fas fa-lg" th:id="'toSpinDeleteAgencyJob' + ${job.jobId}" style="color:gray;"></i>
									<span class="iconify" data-icon="jam:trash-alt-f" th:id="'trashIconAgencyJob' + ${job.jobId}"
									data-inline="false"></span>
								</a>
								
									<script th:inline="javascript" type="text/javascript">
										function deleteAgencyJob(jobId, jobTitle) {
											event.preventDefault();
											alert('are you sure you want to delete ' + jobTitle + '?');  
											Pace.restart();
											
											Pace.track(function () {
											$.ajax({
												type:"GET",
												url: "/agency/deleteJobByModal?id=" + jobId,
												
												beforeSend: function () {
													if($("#toSpinDeleteAgencyJob") + jobId != null) {
														$("#toSpinDeleteAgencyJob" + jobId).addClass('fa-sync-alt fa-spin');
														
														$("#trashIconAgencyJob" + jobId).css("display","none");
	
													}
												
												},
												completed: function () {
													$("#toSpinDeleteAgencyJob" + jobId).removeClass('fa-sync-alt fa-spin');
												
													$("#trashIconAgencyJob" + jobId).css("display","flex");
												},
												success: function () {
								
												$( " .job-card-container").load(window.location.href + " .job-card-container");
												}
											});
											});
										
										}
						</script>
	                            	
	                            	
				
									
									<div sec:authorize="isAuthenticated()"
										th:if="${#authentication.name} == ${agency.user.userName}">		 
										
	
	 									<!--este true  -->
										<a th:if="${ job.isJobPrivate()==true}" 
											th:attr="onclick=|makeAgencyJobPublic('${job.jobId}')|">
											
											<i class="fas fa-lg" style="color:gray;" 
												th:id="'toSpinFalseAgencyJob' + ${job.jobId}"></i>
											<span class="iconify" th:id="'falseAgencyJob'+ ${job.jobId}"
												data-icon="ant-design:eye-invisible-outlined"
												data-inline="false"></span>
										</a>
										<script th:inline="javascript" type="text/javascript">
										
										function makeAgencyJobPublic(jobId) {
											event.preventDefault();
											
											Pace.restart();
											
											Pace.track(function () {
											
											$.ajax({
												type:"GET",
												url: "/agency/makeJobPrivate?id=" + jobId,
												
												beforeSend: function () {
													if($("#toSpinFalseAgencyJob") + jobId != null) {
														$("#toSpinFalseAgencyJob" + jobId).addClass('fa-sync-alt fa-spin');
														$("#falseAgencyJob" + jobId).css("display","none");
	
													}
												
												},
												completed: function () {
													$("#toSpinFalseAgencyJob" + jobId).removeClass('fa-sync-alt fa-spin');
										
													$("#falseAgencyJob" + jobId).css("display","flex");
												},
												success: function () {
													//$( " .job_list_desktop").load(window.location.href + " .job_list_desktop");
													$( " #job-card-reloader" + jobId).load(window.location.href + " #job-card-reloader" + jobId);
												}
											});
											
											});
										
										}
									
									
									</script>			
										
									
	
										<!-- este false -->
										<a th:if="${ job.isJobPrivate()==false}"
											th:id="jobPrivate" th:name="jobPrivate" value="true"										
											th:attr="onclick=|makeAgencyJobPrivate('${job.jobId}')|">									
										<i class="fas fa-lg" th:id="toSpinTrueAgencyJob + ${job.jobId}" 
											style="color:gray;" ></i>
											<span class="iconify" th:id="'trueAgencyJob' + ${job.jobId}"
												data-icon="ant-design:eye-outlined" data-inline="false"></span>
										</a>
										
										<script th:inline="javascript" type="text/javascript">
										
										function makeAgencyJobPrivate(jobId) {
											event.preventDefault();
											
											Pace.restart();
											
											Pace.track(function () {
											
											$.ajax({
												type:"GET",
												url: "/agency/makeJobPrivate?id=" + jobId,
												
												beforeSend: function () {
													
													if($("#toSpinTrueAgencyJob") + jobId != null) {
														$("#toSpinTrueAgencyJob" + jobId).addClass('fa-sync-alt fa-spin');
														$("#jobTitle" + jobId).css("color","gray");
														$("#trueAgencyJob" + jobId).css("display","none");
				
													}
												
												},
												completed: function () {
													$("#toSpinTrueAgencyJob" + jobId).removeClass('fa-sync-alt','fa-spin');
													$("#trueAgencyJob" + jobId).css("display","flex");
												},
												success: function () {
													//$( " .job_list_desktop").load(window.location.href + " .job_list_desktop");
													$( " #job-card-reloader" + jobId).load(window.location.href + " #job-card-reloader" + jobId);
												}
											});
										
											});
										}
									
									
									</script>
	
	
	
									</div>
									
	                                <button class="button-applied"><img src="../css/buttons/applied.png" alt="like"/></button>
	                                <button class="button-openJob"><img src="../css/buttons/openJob2.svg" alt="like"/></button>
	                                
	                                
									
	
	
	                            </div>
                       		</div>
                        </div>
                    </div>
                    
                    </li>

					<!-- <li class="job_profile_card">
							<a th:if="${job.lastImageId < 1}">
											<span class="iconify" data-icon="bytesize:work" data-inline="false" style="font-size: 5rem;"></span>
							</a>
		
							<img th:if="${job.lastImageId > 0}"
								th:src="@{/agency/jobimg(imgId=${job.lastImageId}, jobId=${job.jobId})}" style="size: 10%">

						<a th:text="${job.jobTitle}"
						class="job_profile_title">Value</a>

						<div th:text="${job.jobLocation}" class="job_profile_location">Panama
							City, Panama</div>
							
							
						<div class="job_profile_card_dates">
							<div class="job_profile_card_dates_line">
								<div class="register_subtitle_date">Start date:</div>
								<div th:text="${#dates.format(job.startDate, 'dd-MMM-yyyy')}"
									id="startDate">14.05.2014</div>
							</div>
								<div class="register_subtitle_date">Salary:</div>
								<div th:text="${job.salary} + ' ' + ${job.currency}" class="job_profile_location">Panama
							City, Panama</div>
							
							</div>	

					
						<div class="register_subtitle_date">Documents:</div>	
						<div th:text="${job.necessaryDocuments}" class="job_profile_description">Panama
							City, Panama</div>
						<div class="register_subtitle_date">Conditions:</div>	
						<div th:text="${job.workingConditions}" class="job_profile_description">Panama
							City, Panama</div>	

						<div class="job_profile_description">
						<div class="register_subtitle_date">Responsibilities:</div>	
							<p th:text="${job.responsabilities}">Energistically optimize
								corporate benefits with worldwide manufactured products.
								Progressively transition.</p>
						</div>
						
						<div class="register_subtitle_date">tags:</div>	
						
						<ul id="job_tags" th:each="tag : ${jobTagsList}">
							<li   th:if="${job.jobId} == ${tag.theJob.jobId}" th:text="'#'+${tag.tag}"></li>
						
						</ul>

						<div class="profile_icons">

							<a id="deleteButton"
								th:href="@{/agency/deleteJobByModal(id=${job.jobId})}"
								onClick="if (! (confirm('Are you sure you want to delete this job?'))) return false">
								<span class="iconify" data-icon="jam:trash-alt-f"
								data-inline="false"></span>
							</a>

							<div class="profile_icons_right btn btn-toolbar" role="toolbar">

								<form th:action="@{/agency/makeJobPrivate(id=${job.jobId})}"
									th:object="${job}" method="post">

									este true 
									<button th:if="${ job.isJobPrivate()==true}" th:id="jobPrivate"
										th:name="jobPrivate" value="false" type="submit">
										<span class="iconify" id="false"
											data-icon="ant-design:eye-invisible-outlined"
											data-inline="false"></span>
									</button>

									este false
									<button th:if="${ job.isJobPrivate()==false}"
										th:id="jobPrivate" th:name="jobPrivate" value="true"
										type="submit">
										<span class="iconify" id="true"
											data-icon="ant-design:eye-outlined" data-inline="false"></span>
									</button>



								</form>


			
						
						<div th:replace="modals::editAgencyJob"></div>
						
						

								trigger the modal for jobEditModal
								<button data-toggle="modal" data-target="#editJobModal"
									th:attrappend="data-target=${job.jobId}">

									<img src="../css/graphic/edit.png" alt="user" />
								</button>

							</div>


						</div>




					</li> -->





				</ul>
				</div>
				



			
			
			

						
						
			
			<h5 style="margin-left: auto;">... see all</h5>
			
 			
 
 <hr class="new_line">

 

 
		<!-- 	<div class="login-buttons">

				
				
				
				
				<form 
					sec:authorize="isAuthenticated()"
					th:if="${#authentication.name} == ${agency.user.userName}"	
					
					th:action="@{/person/finishAccount}" th:object="${person}" method="post">
					
					<button type="submit" class="button_login" style="width:95%;" >
					<span class="iconify"  id="next_mobile" data-icon="icons8:finish-flag" data-inline="false"></span>
					<span class="iconify"  id="next_desk" data-icon="ic:sharp-done-all" data-inline="false"></span>
					
					save</button>
				</form>
				

			</div> -->







		</section>


	</main>

	<!-- <h3>Check out this useful links</h3> -->
	<hr>
	<hr
		style="height: 1px; border-width: 0; color: gray; background-color: gray">
	<footer class="footer-container2">

		<div class="footer-follow-me2">
			<button class="facebook">
				<span class="iconify" data-inline="false"
					data-icon="dashicons:facebook"></span> <label for="facebook">facebook</label>
			</button>
			<button class="linkedin">
				<span class="iconify" data-inline="false" data-icon="el:linkedin"></span>
				<label for="linkedin">linkedin</label>
			</button>
			<button class="twitter">
				<span class="iconify" data-inline="false"
					data-icon="vaadin:twitter-square"></span> <label for="twitter">twitter</label>
			</button>
			<button class="youtube">
				<span class="iconify" data-inline="false"
					data-icon="ant-design:youtube-outlined"></span> <label
					for="youtube">youtube</label>
			</button>


		</div>

		<div class="copyright2">
			<h5>Conveniently redefine world-class e-business after state of
				the art relationships. Authoritatively streamline standardized users
				without efficient "outside the box" thinking. Uniquely whiteboard.</h5>

		</div>
	</footer>








	<script src="../css/script.js" defer></script>
</body>

</html>