  <html>
	  <body>
	  <div th:fragment="head-old">
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		   
		    <meta name="description" content="">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
		    <link rel="stylesheet" href="./css/main.css">
		    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
		    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>	  
	  
	  </div>
		
	  </body>
  </html> 
 
 
 
  <html>
  	<body>
  		<div th:fragment="head">
  			<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">

<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0;">
	
<!-- <meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/> -->

<link rel="stylesheet" href="../css/main.css">

 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
 
 
 

 <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous"> 
	
<!--    <link rel="stylesheet"   href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css"> -->
   
      <link rel="stylesheet"   href="../css/graphic/minimal.css">
   
   	<!--Progress bar from pace  -->
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>  

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	

  		
  		</div>
  	</body>
  </html>
  
  
  <html>
  <body>
  	<div th:fragment="head-register">
  	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Create User</title> 
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
  	
		
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
     
     
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" 
	crossorigin="anonymous">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">

    
   
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
  	</div>
  </body>
  
  </html>
  
  

  
  <html>
  	<body>
  		<div th:fragment="nav">
  		
  			<nav class="navbar" style="position:fixed">
				
				<button class="notif-button" 
						sec:authorize="isAuthenticated()" style="background-color: white;">

				<div id="userNotification" >
				<div class="notifications" 
					sec:authorize="isAuthenticated()"
					th:if="${person.unreadNotifs}">  			
	  				<span class="iconify" data-icon="clarity:notification-outline-badged" data-inline="false"></span>
	  			</div>
	  			
	  			<div class="all-notifications" sec:authorize="isAuthenticated()"
	  					th:unless="${person.unreadNotifs}">	  			
	  				<span class="iconify" data-icon="clarity:notification-outline-badged" data-inline="false"></span>
	  			</div>
	  			
	  			</div>
	  			
	  			</button>

				
				<div class="notifications-links" 
					sec:authorize="isAuthenticated()">
				
					<ul class= "notifications-list" id="updatedNotifs">
<!-- 						th:unless="${nStat.index > 3}" > -->
						
						<li class="notifications-item" 
							th:each="notification, nStat : ${userNotifs}" >
<!-- 							th:unless = "${nStat.index > 4}"> -->
							<div 
							id="notifItem" th:if="${not #lists.isEmpty(notification.messages)}"
							th:classappend="${notification.isRead()} ? 'isRead' "> 
							
				
							<div class="notification-message" 
									th:classappend="${notification.isRead()} ? 'isRead' ">
								<p   th:text = "${notification.messages[0].message} + '&nbsp' "></p> 
								<a th:text="${notification.messages[1].message} + '&nbsp'" th:href="@{${notification.messages[2].message}}" ></a>
								<p id="text-name" th:text ="${notification.messages[3].message}"></p>
							</div>
							
							<div class="notification-buttons" style="font-size: 0.8rem;">
								<p th:text="${#dates.format(notification.dateCreated, 'dd-MM-yyyy HH:mm')}"></p>
								
								<div class="notification-button-left btn-group btn-group-sm" th:if="${notification.hasApprove} == true" >
									<button id="toFill" class="btn btn-xs btn-primary" 
									 style="cursor:pointer;" th:attr="onclick=|approve('${notification.notificationId}')|" >approve</button>
								</div>
								
								<script th:inline="javascript" type="text/javascript">
									
									function approve(notifId) {		
									var progressBar = ''; 
									progressBar.progressCount = [[${progressCount}]];
										
        								//alert('approve -' + notifId +  '- was clicked');
        								console.log(notifId);
										event.preventDefault();	
										
										$.ajax({
											type:"GET",
											url:"/agency/affiliateCandidate?id=" + notifId,											
											
											beforeSend: function () {
												document.getElementById('toFill').classList.add('approve');
											},
											completed: function (){
												document.getElementById('toFill').classList.add('btn-success');
												
											},
											
											success:function(data) {
												document.getElementById('toFill').classList.remove('btn-primary');
												$( ".notifications-list").load(window.location.href + " .notifications-list" );

												$( "#userNotification").load(window.location.href + " #userNotification" );
												$( ".candidate-list").load(window.location.href + " .candidate-list" );
											}
										});
    								}
								
								
								</script>
								
								
								
								
								<div class="notification-button-right btn-group btn-group-sm">
									<a id="markAsRead" class="btn btn-primary "
									style="cursor:pointer;"
									th:attr="onclick=|markRead('${notification.notificationId}')|"  >mark as read</a>
								
								<script th:inline="javascript" type="text/javascript">
								
								
									function markRead(notifId) {		
										
        								//alert('mark as read -' + notifId +  '- was clicked');
        								
        								console.log(notifId);
										event.preventDefault();	
										var progressBar = ''; 
										progressBar.progressCount = [[${progressCount}]];
										
										$.ajax({
											type:"GET",
											url:"/notifMarkRead?id=" + notifId,											
											
											beforeSend: function () {
												$( "#progress-bar").show();
												 
												var progressBar = [[${progressCount}]];
												$( "#progress-bar").attr('value',$(progressBar));
											
											},
											completed: function (){
												$( "#progress-bar").hide();	
												progressBar.progressCount = [[${progressCount}]];
											},
											
											success:function(data) {

												$( ".notifications-list").load(window.location.href + " .notifications-list" );

												$( "#userNotification").load(window.location.href + " #userNotification" );
											}
										});
    								}
		
								</script>
								
								<a id="deleteButton" style="cursor: pointer;"									
									th:attr="onclick=|deleteNotification('${notification.notificationId}')|">
									<i class="fas fa-lg" th:id="'toSpinDeleteNotif' + ${notification.notificationId}" style="color:gray;"></i>
									<span class="iconify" data-icon="jam:trash-alt-f" th:id="'trashIconNotif' + ${notification.notificationId}"
									data-inline="false"></span>
								</a>
								
									<script th:inline="javascript" type="text/javascript">
									
										function deleteNotification(notifId) {
											
											event.preventDefault();
											
											Pace.restart();
											
											Pace.track(function () {
											
											$.ajax({
												type:"GET",
												url: "/deleteNotif?notifId=" + notifId,
												
												beforeSend: function () {
													if($("#toSpinDeleteNotification") + notifId != null) {
													
														$("#toSpinDeleteNotification" + notifId).addClass('fa-sync-alt fa-spin');
														
														$("#trashIconNotification" + notifId).css("display","none");
	
													}
												
												},
												completed: function () {
													$("#toSpinDeleteNotification" + notifId).removeClass('fa-sync-alt fa-spin');
												
													$("#trashIconNotification" + notifId).css("display","flex");
												},
												success: function () {
								
												//$( ".notifications-list").load(window.location.href + " .notifications-list" );
												

												$( "#userNotification").load(window.location.href + " #userNotification" );
												}
											});
											});
										
										}
						</script>
								
								
								</div>
							
							</div>
							
							</div>

						</li>
						

						
						<h5 style="margin-left: auto; " >
						<button  th:if="${not #lists.isEmpty(userNotifs)}" class="btn btn-outline-dark btn-sm"
							th:attr="onclick=|seeMoreNotifs('${userNotifs[#lists.size(userNotifs)-1].notificationId}')|"
							style="cursor:pointer;margin-top: 1rem;" >... load more</button>
							
							<script th:inline="javascript" type="text/javascript">
								
								
									function seeMoreNotifs(notifId) {		

        								console.log('notification is ' + notifId);
										event.preventDefault();	

										$.ajax({
											type:"GET",
											
											url:"/getAllNotifications?notifId=" + notifId,
											dataType: "html",											
											
											beforeSend: function () {
												
											
											},
											completed: function (){
												
												
												
													
											},
											
											success:function(data) {

											
												var newNotifs = document.createElement("div");
												newNotifs.innerHTML = data; 
												console.log(newNotifs);
												
												
												
												$(  " .notifications-list").html(data);

												
											},
											
											
										});
    								}
		
								</script>
								
							
							</h5>
					
					</ul>
					
				
					<div id="toAppend"></div>
					
					
				
				
				
				</div>
				
  			
 				<div class="brand-text">
	                <a th:href="@{/}"><button ><img src="../css/header/BZBees_logo 1.svg" alt="logo" style="width:100%;height:auto;"/></button></a>
	            </div>
            
            
            <div class="menu-userplus">
	            <button  class="button-userplus" name="button-userplus" id="button-userplus">
					
					<img sec:authorize="isAnonymous()" src="../css/buttons/user-plus.png" alt="header" /> 
					<img sec:authorize="isAuthenticated()" src="../css/buttons/user-name.png" alt="header" />
	                 <span sec:authorize="isAuthenticated()" sec:authentication="name"></span></button>       
  			
	  			<div class="navbar-user-links" id="open-user-links">
	
					<ul sec:authorize="isAuthenticated()">
	
						<li><a sec:authorize="isAuthenticated()"
							th:href="@{/person/sprofile}"><span sec:authorize="isAuthenticated()" sec:authentication="name"></span>'s profile		</a>
											
						</li>
	
						<li  sec:authorize="hasAuthority('AGENCY')"> 
							<a  th:href="@{/agency/profile}">
								<span  th:text="${agency.agencyName} +' \'s profile' "></span></a></li>
								
						<li sec:authorize="hasAuthority('USER')">
							<a th:href="@{/person/notifications}">
								<span>notifications</span>
							</a>
						
						</li>		
						
						<li><a
							th:href="@{/showChangePassword}">change password</a></li>
	
						<li>
	
						<li><a>My jobs</a></li>
						
						<li sec:authorize="!hasAuthority('AGENCY')"><a
							th:href="@{/agency/register}">Create agency</a></li>
							
						<li><a>Create employer</a></li>
						
							<form th:action="@{/logout}">
								<button class="logout" type="submit">logout</button>
							</form>
						</li>
	
					</ul>
	
	
				</div>
            </div>
             
         
         	<div class="navbar-links">
                	<ul sec:authorize="isAnonymous()">
	                    <li><a th:href="@{/login}" style="color:orange">login</a></li>
	                    <li><a th:href="@{/user}" style="color:orange">register</a></li>
	                </ul>
               
            </div>
            
           
            

      		
          
				



<!--                 <button class="burgermenu">
                        <img src="../css/buttons/burgermenu.svg" alt="header" />
                    </button>
             -->


  
 
        </nav>
 
 <!--  KEEP THIS FOR THE FUTURE OF PROGRESS!!!! BARS 
         <progress id="progress-bar" value="10" max="30" style="display: none;" >10%</progress>
  -->      
  		
  		</div>
  	</body>
  </html>
  
  
  <html>
  <body>
  <ul th:framgent="appendedNotifs" th:unless="${#lists.isEmpty(appendNotifs)}" id="toAppend">
  
  
  						<li 
  							
  							class="notifications-item" 
							th:each="notification, nStat : ${appendNotifs}" >
<!-- 							th:unless = "${nStat.index > 4}"> -->
							<div 
							id="notifItem" th:if="${not #lists.isEmpty(notification.messages)}"
							th:classappend="${notification.isRead()} ? 'isRead' "> 
							
				
							<div class="notification-message" 
									th:classappend="${notification.isRead()} ? 'isRead' ">
								<p   th:text = "${notification.messages[0].message} + '&nbsp' "></p> 
								<a th:text="${notification.messages[1].message} + '&nbsp'" th:href="@{${notification.messages[2].message}}" ></a>
								<p id="text-name" th:text ="${notification.messages[3].message}"></p>
							</div>
							
							<div class="notification-buttons" style="font-size: 0.8rem;">
								<p th:text="${#dates.format(notification.dateCreated, 'dd-MM-yyyy HH:mm')}"></p>
								
								<div class="notification-button-left btn-group btn-group-sm" th:if="${notification.hasApprove} == true" >
									<button id="toFill" class="btn btn-xs btn-primary" 
									 style="cursor:pointer;" th:attr="onclick=|approve('${notification.notificationId}')|" >approve</button>
								</div>
								
								<script th:inline="javascript" type="text/javascript">
									
									function approve(notifId) {		
									var progressBar = ''; 
									progressBar.progressCount = [[${progressCount}]];
										
        								//alert('approve -' + notifId +  '- was clicked');
        								console.log(notifId);
										event.preventDefault();	
										
										$.ajax({
											type:"GET",
											url:"/agency/affiliateCandidate?id=" + notifId,											
											
											beforeSend: function () {
												document.getElementById('toFill').classList.add('approve');
											},
											completed: function (){
												document.getElementById('toFill').classList.add('btn-success');
												
											},
											
											success:function(data) {
												document.getElementById('toFill').classList.remove('btn-primary');
												$( ".notifications-list").load(window.location.href + " .notifications-list" );

												$( "#userNotification").load(window.location.href + " #userNotification" );
												$( ".candidate-list").load(window.location.href + " .candidate-list" );
											}
										});
    								}
								
								
								</script>
								
								
								
								
								<div class="notification-button-right btn-group btn-group-sm">
									<a id="markAsRead" class="btn btn-primary "
									style="cursor:pointer;"
									th:attr="onclick=|markRead('${notification.notificationId}')|"  >mark as read</a>
								
								<script th:inline="javascript" type="text/javascript">
								
								
									function markRead(notifId) {		
										
        								//alert('mark as read -' + notifId +  '- was clicked');
        								
        								console.log(notifId);
										event.preventDefault();	
										var progressBar = ''; 
										progressBar.progressCount = [[${progressCount}]];
										
										$.ajax({
											type:"GET",
											url:"/notifMarkRead?id=" + notifId,											
											
											beforeSend: function () {
												$( "#progress-bar").show();
												 
												var progressBar = [[${progressCount}]];
												$( "#progress-bar").attr('value',$(progressBar));
											
											},
											completed: function (){
												$( "#progress-bar").hide();	
												progressBar.progressCount = [[${progressCount}]];
											},
											
											success:function(data) {

												$( ".notifications-list").load(window.location.href + " .notifications-list" );

												$( "#userNotification").load(window.location.href + " #userNotification" );
											}
										});
    								}
		
								</script>
								
								<a id="deleteButton" style="cursor: pointer;"									
									th:attr="onclick=|deleteNotification('${notification.notificationId}')|">
									<i class="fas fa-lg" th:id="'toSpinDeleteNotif' + ${notification.notificationId}" style="color:gray;"></i>
									<span class="iconify" data-icon="jam:trash-alt-f" th:id="'trashIconNotif' + ${notification.notificationId}"
									data-inline="false"></span>
								</a>
								
									<script th:inline="javascript" type="text/javascript">
									
										function deleteNotification(notifId) {
											
											event.preventDefault();
											
											Pace.restart();
											
											Pace.track(function () {
											
											$.ajax({
												type:"GET",
												url: "/deleteNotif?notifId=" + notifId,
												
												beforeSend: function () {
													if($("#toSpinDeleteNotification") + notifId != null) {
													
														$("#toSpinDeleteNotification" + notifId).addClass('fa-sync-alt fa-spin');
														
														$("#trashIconNotification" + notifId).css("display","none");
	
													}
												
												},
												completed: function () {
													$("#toSpinDeleteNotification" + notifId).removeClass('fa-sync-alt fa-spin');
												
													$("#trashIconNotification" + notifId).css("display","flex");
												},
												success: function () {
								
												//$( ".notifications-list").load(window.location.href + " .notifications-list" );
												

												$( "#userNotification").load(window.location.href + " #userNotification" );
												}
											});
											});
										
										}
						</script>
								
								
								</div>
							
							</div>
							
							</div>

						</li>
						
						</ul>
  
  </body>
  </html>
  
  
  
  
  
 