
<html>
<body>

					<div  th:fragment="addRegCert" class="modal fade" id="addRegCertModal" tabindex="-21"
					aria-labelledby="addJobLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add the company registration certificate</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div>
									<form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{/agency/addRegCertModal}"
									encType="multipart/form-data" multiple>
										<input autofocus type="file" name="doc" placeholder="choose file" multiple  >
										
										<div class="input_elements">
											<button class="upload" type="submit" ><p>upload</p>
										<span class="iconify" id="add_mobile" data-icon="ant-design:plus-circle-filled" data-inline="false"></span>
										<span class="iconify" id="add_desk" data-icon="bx:bx-plus" data-inline="false"></span>
										</button>
										</div>
									</form>
								</div>
								</div>
								</div>
								</div>
													
</body>
</html>

<html>
<body>
					
					<!-- THIS IS WHERE THE ADD COMPANY DETAILS CERT DOC MODAL BEGINS -->
					
					<div th:fragment="addCompDetails" class="modal fade" id="addCompDetailsModal" tabindex="-21"
					aria-labelledby="addJobLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add the confirmation of company details</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div>
									<form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{/agency/addCompDetailsModal}"
									encType="multipart/form-data" multiple>
										<input autofocus type="file" name="doc" placeholder="choose file" multiple  >
										
										<div class="input_elements">
											<button class="upload" type="submit" ><p>upload</p>
										<span class="iconify" id="add_mobile" data-icon="ant-design:plus-circle-filled" data-inline="false"></span>
										<span class="iconify" id="add_desk" data-icon="bx:bx-plus" data-inline="false"></span>
										</button>
										</div>
									</form>
								</div>
								</div>
								</div>
								</div>
					
					<!-- THIS IS WHERE THE COMPANY DETAILS CERT MODAL ENDS -->
					
					

</body>

</html>

<html>
<body>
					<!-- THIS IS WHERE THE ADD COMPANY DETAILS CERT DOC MODAL BEGINS -->
					<div th:fragment="addAdminId" class="modal fade" id="addAdminIdModal" tabindex="-21"
					aria-labelledby="addJobLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add the agency's admin ID</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div>
									<form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{/agency/addAdminIdModal}"
									encType="multipart/form-data" multiple>
										<input autofocus type="file" name="doc" placeholder="choose file" multiple  >
										
										<div class="input_elements">
											<button class="upload" type="submit" ><p>upload</p>
										<span class="iconify" id="add_mobile" data-icon="ant-design:plus-circle-filled" data-inline="false"></span>
										<span class="iconify" id="add_desk" data-icon="bx:bx-plus" data-inline="false"></span>
										</button>
										</div>
									</form>
								</div>
								</div>
								</div>
								</div>
					
					<!-- THIS IS WHERE THE COMPANY DETAILS CERT MODAL ENDS -->


</body>
</html>

<html>
<body>
					<!-- THIS IS WHERE THE ADD COMPANY DETAILS CERT DOC MODAL BEGINS -->
					<div th:fragment="addOtherDocs" class="modal fade" id="addOtherDocsModal" tabindex="-21"
					aria-labelledby="addJobLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add the agency's other docs</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div>
									<form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{/agency/addOtherDocsModal}"
									encType="multipart/form-data" multiple>
										<input autofocus type="file" name="doc" placeholder="choose file" multiple  >
										
										<div class="input_elements">
											<button class="upload" type="submit" ><p>upload</p>
										<span class="iconify" id="add_mobile" data-icon="ant-design:plus-circle-filled" data-inline="false"></span>
										<span class="iconify" id="add_desk" data-icon="bx:bx-plus" data-inline="false"></span>
										</button>
										</div>
									</form>
								</div>
								</div>
								</div>
								</div>
					
					<!-- THIS IS WHERE THE COMPANY DETAILS CERT MODAL ENDS -->


</body>
</html>


<html>
<body>

						<!-- this is where the profile img modal begins -->
						<div th:fragment="addAgencyProfileImg" class="modal fade" id="agencyPicModal" tabindex="-20"
							aria-labelledby="profilePicLabel">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="profilePicTitle">Choose a
											profile image</h5>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<form id="uploadFiles" name="uploadFiles" method="POST"
										th:action="@{/agency/addAgencyImg}"
										encType="multipart/form-data">
										<div class="modal-body">

											<input type="file" name="img" placeholder="choose file">


										</div>

										

											
												<div class="login-buttons" id="modal">
													<button type="button" class="button-login" data-dismiss="modal">

														<span class="iconify" id="next_desk"
															data-icon="topcoat:cancel" data-inline="false"></span>

														<p>close</p>

													</button>
													<button type="submit" class="button-login">
														<span class="iconify" id="next_desk"
															data-icon="ic:round-cloud-upload" data-inline="false"></span>
														<p>upload</p>

													</button>
												
												
												</div>
												
										
									</form>

								</div>
							</div>
						</div>

						<!-- profile image modal ends -->

</body>
</html>

<html>
<body>
					<!-- THIS IS WHERE THE ADD COMPANY DETAILS CERT DOC MODAL BEGINS -->
					<div th:fragment="addFacebook" class="modal fade" id="addFacebook" tabindex="-21"
					aria-labelledby="addFacebookLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">add social media url</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div>
									<form id="FBLink" name="addFacebookLink" method="POST" th:action="@{/agency/addSocialMediaFB}">
										<input style="margin-left:0.8rem;width: 80%;" autofocus type="url" name="url" placeholder="link" >
										<div class="input_elements">
										<button style="margin-left:0.8rem;" class="upload" type="submit" ><p>save</p>
										<span class="iconify" id="add_mobile" data-icon="ant-design:plus-circle-filled" data-inline="false"></span>
										<span class="iconify" id="add_desk" data-icon="bx:bx-plus" data-inline="false"></span>
										</button>
										</div>
									</form>
								</div>
								</div>
								</div>
								</div>
					
					<!-- THIS IS WHERE THE COMPANY DETAILS CERT MODAL ENDS -->


</body>
</html>






<html>
<body>



 				<!-- MODAL for adding a JOB from AGENCY profile -->

	<div th:fragment="addAgencyJob" class="modal fade" id="addAgencyJob"
		tabindex="-21" aria-labelledby="addJobLabel">

		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add a new job</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<form th:action="@{/agency/addModalJob}" th:object="${job}"
					method="POST" encType="multipart/form-data" >

					<div class="register_form">

						<div class="input_jobinfo">

							<div class="input_elements" id="job-image">


								<div class="input_field">

									<div class="job-image-upload">

										<label for="img"> <img id="jobPic" style="size: 10%;"
											src="../css/buttons/briefcase.png"> <!--th:if="${job.lastImageId > 0}"
										th:src="@{/agency/jobimg(imgId=${job.lastImageId}, jobId=${job.jobId})}"  -->

										</label> <input type="file" name="img" id="img"
											placeholder="choose file"
											
								onchange="document.getElementById('jobPic').src = window.URL.createObjectURL(this.files[0])"> 
									
									</div>


								</div>
								




								<div class="input_field" id="radio">

									<label th:for="jobPrivate">make the job private</label> <input
										th:field="${job.jobPrivate}" type="radio" value="true">

								</div>

							</div>
							<div class="input_elements">

								<div class="input_field">
									<input th:field="${job.jobTitle}" type="text"
										required="required" placeholder="job name*"> <label>job
										name<span> *</span>
									</label>
								</div>
							</div>

							<div class="input_elements" id="salary_currency">
								<div class="input_field">
									<input id="salary" th:field="${job.salary}" type="number"
										required="required" placeholder="salary"> <label>salary<span>
											*</span>
									</label>
								</div>

								<div class="input_field">
									<input id="currency" th:field="${job.currency}" type="text"
										required="required" placeholder="currency"> <label>currency<span>
											*</span>
									</label>
								</div>


							</div>


						</div>


						<div class="input_elements">
							<div class="input_field">
								<input th:field="${job.startDate}" type="text"
									required="required" placeholder="Start Date"
									onclick="(this.type='date')" onblur="(this.type='text')">
								<label>Start Date<span> *</span></label>
							</div>

							<div class="input_field">
								<input th:field="${job.jobLocation}" type="text"
									required="required" placeholder="location"> <label>job
									location<span> *</span>
								</label>
							</div>

						</div>

						<div class="input_elements">
							<div class="input_field">
								<input th:field="${job.necessaryDocuments}" type="text"
									required="required" placeholder="documents required"> <label>documents<span>
										*</span>
								</label>
							</div>

							<div class="input_field">
								<textarea th:field="${job.workingConditions}" type="text"
									required="required" placeholder="working conditions"></textarea>
								<label>working conditions<span> *</span>
								</label>
							</div>

							<div class="input_field">
								<input th:field="${job.tags}" type="text" required="required"
									placeholder="tags"> <label>tags<span> *</span>
								</label>
							</div>



						</div>
						
						<div class="input_elements">

							<div class="input_field">
								<textarea th:field="${job.responsabilities}" id="job_resp"
									required="required"
									placeholder="Job description, main responsibilities, achievements etc"></textarea>
								<label>Job responsibilities<span> *</span></label>
							</div>

						</div>

			<div class="login-buttons">
				<button type="button" class="button-login" data-dismiss="modal">
					<span class="iconify" id="next_mobile"
						data-icon="ic:baseline-cancel" data-inline="false"></span> <span
						class="iconify" id="next_desk" data-icon="topcoat:cancel"
						data-inline="false"></span>

					<p>close</p>

				</button>
				<button type="submit" class="button-login">
					<span class="iconify" id="next_mobile"
						data-icon="teenyicons:save-solid" data-inline="false"></span> <span
						class="iconify" id="next_desk" data-icon="teenyicons:save-solid"
						data-inline="false"></span>
					<p>add job</p>

				</button>

			</div>


			</div>

			</form>



		

				





		</div>

		</div>
	</div>
	</div>

	<!-- 
				ADD JOB MODAL ENDS HERE
 -->


</body>
</html>


<!-- this is where the editJob modal begins -->


<html>
<body>
	<div th:fragment="editAgencyJob" class="modal fade" id="editJobModal"
		tabindex="-21" th:attrappend="id=${job.jobId}"
		aria-labelledby="editJobLabel">

		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/agency/editJob(id=${job.jobId})}"
					th:object="${job}" method="POST" encType="multipart/form-data" >

					<div class="register_form">

						<div class="input_jobinfo">
			
							<div class="input_elements" id="job-image">

								<div class="input_field">
							
									<div class="job-image-upload">
									
									
											
										<!-- 
										 <img id="jobPicEdit" style="size: 10%;"
											th:src="@{/agency/jobimg(imgId=${job.lastImageId}, jobId=${job.jobId})}" >
										<label for="jobPicBtn">button</label>	
										<input type="file" name="imgEdit" id="jobPicBtn"   
											placeholder="choose file"
											onchange="document.getElementById('jobPicEdit').src = (window.URL || window.webkitURL).createObjectURL(this.files[0])"> 
											 -->
								
									
										
									<!--	<script th:inline="javascript">
											var loadImage = function(event) {
												var image = document.getElementById('jobPicEdit');
												image.src = (window.URL || window.webkitURL).createObjectURL(this.files[0]);
											};
										
										</script> -->
										
										 										
									</div> 
									
									<div class="input-group mb-3">
									
									<img th:if="${job.lastImageId > 0}" id="jobPicEdit" style="size: 10%;"
											th:src="@{/agency/jobimg(imgId=${job.lastImageId}, jobId=${job.jobId})}" >
									<a th:if="${job.lastImageId < 1}">
										<span  class="iconify" data-icon="bytesize:work" data-inline="false" style="font-size: 5rem;"></span>									
									</a>		
											
									<label class="input-group-text" for="inputGroupFile02">
									<span class="iconify" data-icon="ic:outline-change-circle" data-inline="false"></span></label>
  									<input type="file" name="imgEdit" class="form-control" id="inputGroupFile02" 
											onchange="document.getElementById('jobPicEdit').src = (window.URL || window.webkitURL).createObjectURL(this.files[0])"> 

 									</div>

								</div>

									<div class="input_field" id="radio">
										<!-- radio buttons have only 2 values so don't do th:value -->
										<input th:id="jobPrivate" th:name="jobPrivate" type="radio"
											value="true"> <label th:for="jobPrivate">make job private</label>
									</div>

							</div>
							
							


							<div class="input_elements">
								

								<div class="input_field">
									<input th:value="*{jobTitle}" th:id="jobTitle"
										th:name="jobTitle" type="text" required="required"
										placeholder="job name*"> <label>job name<span>
											*</span></label>
								</div>

								<div class="input_elements" id="salary_currency">

									<div class="input_field">
										<input th:value="*{salary}" th:id="salary" th:name="salary"
											type="number" required="required" placeholder="hourly rate">
										<label>salary per hour<span> *</span>
										</label>
									</div>

									<div class="input_field">
										<input id="currency" th:value="*{currency}"
											th:id="*{currency}" th:name="*{currency}" type="text"
											required="required" placeholder="currency"> <label>currency<span>
												*</span>
										</label>
									</div>

								</div>

							</div>


							<div class="input_elements">
								<div class="input_field">
									<input th:value="${{job.startDate}}" th:id="startDate"
										th:name="startDate" type="text" required="required"
										placeholder="Start Date" onclick="(this.type='date')"
										onblur="(this.type='text')"> <label>Start Date<span>
											*</span>
									</label>
								</div>

								<div class="input_field">
									<input th:value="*{jobLocation}" th:name="jobLocation"
										th:id="jobLocation" type="text" required="required"
										placeholder="location"> <label>job location<span>
											*</span>
									</label>
								</div>

							</div>

							<div class="input_elements">
								<div class="input_field">
									<input th:value="*{necessaryDocuments}"
										th:name="necessaryDocuments" th:id="necessaryDocuments"
										type="text" required="required"
										placeholder="documents required"> <label>documents<span>
											*</span>
									</label>
								</div>

								<div class="input_field">
									<textarea th:text="*{workingConditions}"
										th:name="workingConditions" th:id="workingConditions"
										type="text" required="required"
										placeholder="working conditions"></textarea>
									<label>working conditions<span> *</span>
									</label>
								</div>

								<div class="input_field">
									<input th:value="*{tags}" th:name="tags" th:id="tags"
										type="text" required="required" placeholder="tags"> <label>tags<span>
											*</span>
									</label>
								</div>



							</div>

						</div>

						<div class="input_elements">

							<div class="input_field">
								<textarea th:text="*{responsabilities}" th:id="responsabilities"
									th:name="responsabilities" id="job_resp" required="required"
									placeholder="Job description, main responsibilities, achievements etc"></textarea>
								<label>Job responsibilities<span> *</span></label>
							</div>

						</div>						
						
					</div>
					

					<div class="login-buttons">

						<button type="button" class="button-login" data-dismiss="modal">
							<span class="iconify" id="next_mobile"
								data-icon="ic:baseline-cancel" data-inline="false"></span>
							<p>close</p>
							<span class="iconify" id="next_desk" data-icon="topcoat:cancel"
								data-inline="false">close</span>


						</button>
						<button type="submit" class="button-login">
							<span class="iconify" id="next_mobile"
								data-icon="teenyicons:save-solid" data-inline="false"></span> <span
								class="iconify" id="next_desk" data-icon="teenyicons:save-solid"
								data-inline="false"></span>
							<p>save</p>

						</button>




					</div>


				</form>
				
				
				

			</div>
		</div>
	</div>

</body>

</html>
<!-- editJobModal ends  -->

<html>
<body>
									<!-- this is where the add job img modal begins -->
									
						<div th:fragment="addJobImg" class="modal fade" id="jobPicModal" tabindex="-31"
							aria-labelledby="profilePicLabel" th:attrappend="id=${job.jobId}" >
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="profilePicTitle">Choose a
											job image</h5>

										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<form id="uploadFiles" name="uploadFiles" method="POST"
										th:action="@{/agency/addJobImg}"
										encType="multipart/form-data">
										<div class="modal-body">
											
											
											<!-- keep the name 'img' otherwise it doesn't work  -->
											<input type="file" name="img" placeholder="choose file">


										</div>

										

											
												<div class="login-buttons" id="modal">
													<button type="button" class="button-login" data-dismiss="modal">

														<span class="iconify" id="next_desk"
															data-icon="topcoat:cancel" data-inline="false"></span>

														<p>close</p>

													</button>
													<button type="button" class="button-login">
														<span class="iconify" id="next_desk"
															data-icon="ic:round-cloud-upload" data-inline="false"></span>
														<p>upload</p>

													</button>
												
												
												</div>
												
										
									</form>

								</div>
							</div>
						</div>

						<!-- profile image modal ends -->


</body>
</html>


<!-- EDITING AGENCY INPUT DETAILS  -->

<html>
<body>

	<div th:fragment="editAgencyDetails" class="modal fade" id="editAgencyDetails"
		tabindex="-31" aria-labelledby="profilePicLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="profilePicTitle">Edit agency's details
						</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<section class="register_form" >

					<form data-persist="garlic" th:action="@{/agency/editAgencyDetails}"
						th:object="${agency}" method="POST">

						<!--  <input type="hidden" name="_csrf" th:value="$(_csrf.token)" /> -->

						<div class="account_profile">

							<div class="account" id="profile">

								<h3 class="register_home">agency's legal</h3>

								<input type="hidden" th:field="${agency.agencyId}" />
								
								<div class="input_elements">
									<div class="input_field">
										<input type="text" required="required"
											th:field="${agency.agencyName}"
											placeholder="agency's legal name"> <label>agency's
											legal name<span> *</span>
										</label>
									</div>

									<div class="input_field">
										<input th:value="${agency.adminName}" type="text"
											required="required"
											placeholder="administrator" style="color: red"
											id="email"> <label>administrator
											<span> *</span>
										</label>
									</div>


									<div class="input_field">
										<input type="text" th:field="${agency.uniqueRegCode}"
											id="uniqueRegCode" placeholder="unique registration code">

										<label for="uniqueRegCode">Unique Registration Code<span>
												*</span></label>
									</div>

									<div class="input_field">
										<input th:field="${agency.regComNumber}" type="text"
											required="required"
											placeholder="Registration of Commercial Number"> <label>Chamber of commerce
											<span> *</span>
										</label>
									</div>

									<!--                          	<input type="text" th:field="${agency.userFullName}"> 
                         	<input type="text" th:field="${agency.userCredentials}">
                        	
                        	 	<div class="input_field">
				                    <input id="date" th:field="${agency.userBirthDate}" type="datetime" required="required"  onclick="(this.type='date')" onblur="(this.type='text')" placeholder="user birth date...">
									<label>user birth date<span> *</span></label>
	                     		</div> -->




								</div>

							</div>



						</div>
						<br>

						<h3 class="register_home">agency's info</h3>

						<hr
							style="height: 1px; border-width: 0; color: gray; background-color: gray">


						<div class="register_form2" id="register-form2-id">

							<div class="input_jobinfo" id="job-info">

								<div class="input_elements">

									<div class="input_field">
										<input th:field="${agency.legalAddress}" type="text"
											required="required" placeholder="legal address"> <label>legal
											address<span> *</span>
										</label>
									</div>

									<div class="input_field">
										<input id="phoneNumber" th:field="${agency.phoneNumber}"
											type="text" required="required"
											onclick="(this.type='number')" onblur="(this.type='text')"
											placeholder="official phone number"> <label>company's
											phone number<span> *</span>
										</label>
									</div>


								</div>

								<div class="input_elements"></div>

								<div class="input_field">
									<input id="email" th:field="${agency.email}" type="email"
										required="required" placeholder="email"> <label>company's
										email<span> *</span>
									</label>
								</div>

							<div class="input_elements">

								<div class="input_field">
									<input id="url" th:field="${agency.webAddress}" type="url"
										required="required" placeholder="website"> <label>company's
										website<span> *</span>
									</label>
								</div>
								<div class="input_field">
									<textarea id="description"
										th:field="${agency.shortDescription}" required="required"
										placeholder="Describe the jobs your agency is providing"></textarea>
									<label>What kind of jobs do provide?<span> *</span></label>
								</div>
							</div>

							</div>

						</div>

						<div class="login-buttons">

							<button type="button" class="button_login">
								<p>Cancel</p>
								<span class="iconify" id="next_desk" data-icon="topcoat:cancel"
									data-inline="false"></span> <span class="iconify"
									id="next_mobile" data-icon="ic:sharp-cancel"
									data-inline="false"></span>

							</button>

							<button type="submit" class="button_login">
								<p>Next</p>
								<span class="iconify" id="next_mobile"
									data-icon="bx:bxs-skip-next-circle" data-inline="false"></span>
								<span class="iconify" id="next_desk"
									data-icon="ic:baseline-navigate-next" data-inline="false"></span>
							</button>



						</div>
						
						<br>


					</form>

				</section>

			</div>
		</div>
	</div>






</body>
</html>
