


<!-- MODAL for EDITING PERSONAL DETAILS from profile -->



<html id="editing personal details">
<body>





				<div th:fragment="personalDetails" class="modal fade" id="personalDetails" tabindex="22"
					aria-labelledby="addJobLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit your profile</h5>

								<button type="button" class="close" id="closeModalEditDetails" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form th:action="@{/person/editProfile}" th:object="${person}" id="personalDetailsForm"
								method="GET">

					<div class="register_form">

						<div class="input_jobinfo">

							<div class="input_elements" id="first-last-name">

								<div class="input_field">
								
								

									<input th:field="${person.firstName}" id="first-name"
										type="text" placeholder="first name*"> <label>first
										name<span>*</span>
									</label>



								</div>

								<div class="input_field">
									<input th:field="${person.lastName}" id="last-name" type="text"
										required="required" placeholder="last name*"> <label>last
										name<span> *</span>
									</label>
								</div>

							</div>

							<div class="input_elements">

								<div class="input_field">
									<input th:field="${person.location}" type="text"
										required="required" placeholder="current location"> <label>current
										location<span> *</span>
									</label>
								</div>

								<div class="input_field">
									<input th:field="${person.currentJob}" type="text"
										required="required" placeholder="current job"> <label>current
										job<span> *</span>
									</label>
								</div>

								<div class="input_field">
									<input th:field="${person.privateCurrentjob}" type="radio"
										id="private" value="true"> <label for="private">Make
										this info private?</label>
								</div>

							</div>


							<div class="input_elements">

								<div class="input_field">
									<input id="date" th:field="${person.availability}"
										type="datetime" required="required"
										onclick="(this.type='date')" onblur="(this.type='text')"
										placeholder="available since ..."> <label>Availability<span>
											*</span></label>
								</div>

								<div class="input_field">
									<input id="work_number" th:field="${person.workExperience}"
										type="text" required="required" onclick="(this.type='number')"
										onblur="(this.type='text')"
										placeholder="working years, months"> <label>work
										experience<span> *</span>
									</label>
								</div>
							</div>

						</div>

						<div class="input_elements">
							<div class="input_field">
								<textarea id="description" th:field="${person.jobWishDesc}"
									required="required"
									placeholder="Describe the job you are searching for"></textarea>
								<label>What kind of job do you want?<span> *</span></label>
							</div>
						</div>
					</div>

					<div class="login-buttons">
										<button type="button" class="button-login" data-dismiss="modal">
												<span class="iconify" id="next_mobile"
													data-icon="ic:baseline-cancel" data-inline="false"></span>
												<span class="iconify" id="next_desk"
													data-icon="topcoat:cancel" data-inline="false"></span>

												<p>close</p>

											</button>
											<button type="submit" class="button-login">
												<i id="toSpinSave" class="fas fa-2x" ></i>
												<span class="iconify" id="save_details"
													data-icon="teenyicons:save-solid" data-inline="false"></span>
												
												<p>save</p>

											</button>
											
									<script type="text/javascript" th:inline="javascript">
										
											const formSubmitPersDetails = document.getElementById('personalDetailsForm');
					
											formSubmitPersDetails.addEventListener('submit', submitDetails);
											
						//						$(function() {
						//						    var token = $("meta[name='_csrf']").attr("content");
						//						    var header = $("meta[name='_csrf_header']").attr("content");
						//						    $(document).ajaxSend(function(e, xhr, options) {
						//						       
						//						            xhr.setRequestHeader(header, token);
						//						        
						//						    });
						//						});
											
											function submitDetails () {
												
												event.preventDefault();	
									 
												$.ajax({
													type:"GET",
													url: $(formSubmitPersDetails).attr('action'),
													
													//contentType:"application/json",
													//data : JSON.stringify(formData),
													data: $(formSubmitPersDetails).serialize(),
													//dataType : "application/json",
													datatype: "application/javascript",
													beforeSend: function() {
											
														document.getElementById('toSpinSave').classList.add('fa-spin','fa-sync-alt');
														
														document.getElementById('save_details').style.display='none';
							
													},
													complete: function(data) {
														
														$("#closeModalEditDetails").trigger("click");
														document.getElementById('toSpinSave').classList.remove('fa-spin','fa-sync-alt');
														document.getElementById('save_details').style.display='flex';
														
														
													},
							 						success:function(data) {
														
														
														$( " #profile_details_reload").load(window.location.href + " #profile_details_reload");
														
													
													
													}
												});
											
											}
										

										</script>
											

										</div>

								

				</form>

						</div>
					</div>
				</div>


				<!-- EDIT PERSOANL MODAL ENDS HERE -->

</body>
</html>



<html>
<body>
					<!-- THIS IS WHERE THE ADD PERSON SOCIAL MEDIA DETAILS CERT DOC MODAL BEGINS -->
					<div th:fragment="addFacebook" class="modal fade" id="addFacebook" tabindex="21"
					aria-labelledby="addFacebookLabel">

					<div class="modal-dialog ">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">add social media url</h5>

								<button type="button" id="closeModalURL" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div>
					<fieldset>
					
							
					<form id="FBLink" name="addFacebookLink" method="POST"
						th:action="@{/person/addSocialMediaFB}">
						<input style="margin-left: 0.8rem; width: 80%;" autofocus
							type="url" name="url" placeholder="link">
						<div class="input_elements">
							<button style="margin-left: 0.8rem;" class="upload" type="submit">
								<p>save</p>
								
								<i id="toSpinURL" class="fas fa-plus"></i>
							</button>
				<script type="text/javascript" th:inline="javascript">
				
				const formSubmitUrl = document.getElementById('FBLink');
				var formData = $(formSubmitUrl).serialize();
				
				formSubmitUrl.addEventListener('submit', submitUrl);
				
				function submitUrl () {
					
					event.preventDefault();	
					console.log('I get called')
					

					
					$.ajax({
						type:"POST",
						url: $(formSubmitUrl).attr('action'),
						
						data: $(formSubmitUrl).serialize(),		
						datatype: "application/javascript",
						beforeSend: function() {
				
							document.getElementById('toSpinURL').classList.add('fa-spin');

						},
						complete: function() {
							
							$( "#closeModalURL").trigger("click");
							document.getElementById('toSpinURL').classList.remove('fa-spin');
							
							
						},
 						success:function(data) {
							
								
						$( " .social-media-list").load(window.location.href + " .social-media-list");
						
						
						
						}
					});
					
					
				}
				
				
			
			</script> 


						</div>
					</form>
					
					</fieldset>	
				</div>
								</div>
								</div>
								</div>
					
					<!-- THIS IS WHERE THE PERSON SOCIAL MEDIA DETAILS CERT MODAL ENDS -->


</body>
</html>
