@import url("graphic/arrow.css");
@import url("./text.css");
* {
    box-sizing: border-box;
}

.agencycard {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

#agencycard-bg {
    display: inline-grid;
    background: linear-gradient(132.95deg, #E9D415 2.92%, rgba(212, 203, 119, 0.442708) 55.13%, rgba(196, 196, 196, 0) 97.49%);
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#agencycard-header {
    grid-column: 1 / span 2;
}

#agencycard-avatar {
    margin-left: 0.5rem;
    width: 80%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.3rem;
  /*   border: 1px solid black; */
  
}

#agency-image-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	width:20%;
	height: 40px;
 	margin-right: 1rem;
	margin-top:0rem;
	margin-left:0.5rem;
	margin-bottom:1rem; 
/* 	border: 1px solid red;  */
}

#agency-image-container .iconify {
	font-size: 3.6rem; 
	border: 2px solid gray;
	border-radius: 50%;
	background-color: lightgray;
	width: 40px;
	height: 40px;
	object-fit:cover;
}

#agency-image-container a:link, a:visited {
	width: 40px;
	height: 40px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	text-decoration:none;
	color: gray;

}


#agency-image-container  img {
	object-fit: cover;
  	border-radius: 50%;
  	width: 40px;
  	height: 40px;
	border: 2px solid gray ;	
/* 	#E9D415 */
}

#agencycard-avatar-text {
    margin-left: .5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 650;
    font-size: 24px;
    line-height: 29px;
 /*    border: 1px solid blue; */
}

#agencycard-left-details {
    padding-left: .3rem;
}

.agencycard h6 {
    font-family: Imprima;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    color: #716D6D;
}

#agencycard-jobs > ul {
	list-style: none;
	display:inline-block;
    flex-flow: row wrap;
	font-family: Imprima;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: .5rem;
    max-width: 60vw;
   
}

#agencycard-joblocation > ul {
	list-style: none;
	display:inline-block;
    flex-flow: row wrap;
	font-family: Imprima;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: .5rem;
    max-width: 60vw;
	
	}

#agencycard-jobs > li {
/* 	display:flex;
    flex-flow: row nowrap;
 */
 }

.agencycard h4 {
    font-family: Imprima;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: .5rem;
    max-width: 60vw;
}

#agencycard-icns img {
    margin-top: .5rem;
    justify-self: center;
}

#agencycard-icns>h4 {
    margin-top: .5rem;
    font-family: Imprima;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    justify-self: center;
    color: #1F9A01;
}

#agencycard-icns>h6 {
    margin-top: -.5rem;
    justify-self: center;
}

#agencycard-icns {
    display: grid;
    grid-template-columns: auto;
    padding: .5rem;
    max-width: 30vw;
}

#agencycard-popover-icns {
	display: flex;
	flex-flow: row nowrap;
}


.agency-card-footer{
	grid-column: 1 / span 2;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row mowrap;
    align-items: flex-start;
    margin-bottom: 3rem;
/*     border: 1px solid black; */
}

#agencycard-footer {
/*     grid-column: 1 / span 2;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-flow: row mowrap;
    align-items: center;
    margin-bottom: 3rem;
 */}

.agency-Rating {
	max-width: 55%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: .3rem;
/*     border: 1px solid black; */
	
}

#agencycard-starRating {
/*     max-width: 45%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: .3rem; */
/* 	border: 1px solid black; */
	
}

#agencycard-starRating>p {
    margin-left: .3rem;
    padding-right: .2rem;
    /*    line-height: 14px;*/
    font-size: 20px;
}

.agencycard-container .agencycard #agencycard-footer #agency-likes {
    max-width: 35vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#agency-likes {
	display:flex;
	flex-flow: row nowrap;
	width: 30%;
	margin-top: .3rem;
/* 	border: 1px solid black; */
}
#agency-likes>.like-text {
    padding-left: .2rem;
}

 #agency-likes>.button-like {
    margin-top: .3rem;
    background-color: #F8EEB8;
}

@media screen and (min-width:481px) and (max-width: 780px) {
    .agencycard-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: .8rem;
    }
    .agencies {
        background-color: beige;
        background-size: cover;
    }
    .agencycard #agencycard-footer #agency-likes .button-like {
        background-color: #F8EEB8;
    }
    
    
}

@media screen and (max-width:320px) { 
	#agency-likes>.button-like {
        background-color: white;
    }

	}

@media screen and (min-width: 781px) {
    .agencycard-container {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: .3rem;
        padding: .8rem;
    }
    #agency-likes {
        max-width: 40%;
    }
    .agencies {
        background-color: rgba(244, 228, 142, 0.63);
        border-radius: .5rem;
        background-size: cover;
    }
    .agencycard #agencycard-footer #agency-likes .button-like {
        background-color: #F8EEB8;
    }
}