.job-card-container {
	list-style: none;
    display: grid;
    grid-template-columns: auto ;
    max-width: 90vw;
 
}

.job-card {
    display: grid;
    grid-template-columns: auto;
    width: 90%;
  
}

.job-card > #agency-avatar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    margin-left: .2rem;
   
   
}


.job-card #agency-avatar img{
	
    height: 30px;
    width: 30px;
    margin-left: .3rem;
    padding: 0px;
    margin-top: .3rem;
    border-radius: 10px;
    object-fit:scale-down;
    border: 2px solid lightgray;

}
.job-card #agency-avatar-text {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
    padding: .5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    color: #5B5A5A;

}



.job-card #job-card-main {
    display: grid;
    grid-template-columns: auto auto;
    background: #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: .5rem;
    
}


.job-card .job-card-text-body {
	display: grid;
    grid-template-columns: auto;
    background: #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: .5rem;
   /*  border: 1px solid black; */
}

.job-card .job-card-text-body h5 {
	color: #1F9A01;
	font-weight: 600;
}


.job-card #job-card-header {
	display: grid;
	grid-template-columns: 1fr 4fr ;
	width: 100%;

}

.job-card #job-card-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 2rem;
	color: #5B5B5B;
	/* border: 1px solid black; */
	
    
}

.job-card #job-card-img {
    grid-row: 1/span 3;
    height: 88px;
    width: 82px;
    margin-left: .3rem;
    padding: 0px;
    margin-top: .3rem;
    border-radius: 3px;
   /* 	border: 1px solid black; */
    
}

.job-card #editButton {
	margin-left: auto;
		/* border: 1px solid black; */
}

.job-card #job-card-hashes {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin-left: .5rem;
    margin-top: .35rem;
    color: #8A8484;
    overflow:hidden;
	max-height: 48px;

}



.job-card #job-card-text {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
margin-left: .5rem;
color: #000000;
overflow:hidden;
max-height: 48px;

}



.job-card #read-more {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end; 
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	grid-column: 1 / span 2;
}

.modal-title > #agency-avatar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;  
    padding: .5rem;
    margin-left: .2rem;
   
   
}

.job-card #read-more button {
	color: #1F9A01;
	background-color: #f3f3f3;
	font-weight: 600;
	transform: scale(1.2);
  	animation-name: read-more-text;
  	animation-duration: 500ms;
  	animation-fill-mode: forwards;
}

@keyframes read-more-text {
  100% {
    color: #1F9A01;
    /* color: white; */
  }
}

.job-card #read-more button:hover {
	color: #1F9A01;
	font-weight: 600;
	text-decoration: underline;
}

.job-card #showJobCard {
	overflow-y: scroll;
}

.job-card #showJobCard #modal-title-jobShow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
}


.job-card #read-more-modal {
	display: flex;
	flex-flow: column wrap;
	
	
}




.job-card #job-card-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .3rem;
   /*   border: 1px solid black; */
    
    
}
.card-interact {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: .5rem;
    /* border: 1px solid black; */
    
}

.apply {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: .5rem;
    
   /*  border: 1px solid black; */
}

#applyBtnText {
	display: inline-block;
  	margin: 0;
  	font-size: 0.6rem;
}

@media screen and (min-width:481px) and (max-width: 780px) {
    .job-card-container {
        grid-template-columns: auto auto;
        grid-column-gap: .3rem;
    }
    .job-card {
        max-width: 50vw;
    }
}

@media screen and (min-width:320px) and (max-width: 425px) {
    .job-card-container {
        grid-template-columns: auto;
        grid-column-gap: .3rem;
    }
    .job-card {
        max-width: 90vw;
    }
    
    .job-card #job-card-img {
    	grid-row: 1/span 2;
    
    }
    
    .job-card #job-card-text {
    	  grid-column: 1/span 2; 
    
    }
    
    .job-card #read-more {
    	grid-column: 1/span 2;
    }
}

@media screen and (min-width: 781px) {
    .job-card-container {
        grid-template-columns: auto auto;
        grid-column-gap: .3rem;
    }
    
     .job-card {
        max-width: 45vw;
    }

}

