@import url("cards/job_list.css");
@import url("cards/candidate_affiliated.css");
@import url("buttons/buttons.css");
@import url("forms/register.css");

* {
	 box-sizing: border-box;
	 margin: 0px;
	 padding: 0px;
	 border: 0px; 
	 
 }


.modal {
  overflow-y: auto;
  overflow-x: auto;
}

.profile {
	
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 2%;
    /* width: 100vw; */ 
    
}



.profile_above_line {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 95%;
}

.profile_above_line #affiliate {
	text-decoration: none;
	color: #C80000;
}

.profile #export {
	text-decoration: none;
}

.profile_above_line #affiliate .iconify {
	margin-right:auto;
	
}

.profile_above_line #right_buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 25%;
	margin-bottom:-45px;
	color: DarkGray;
	text-decoration: none;
}

.profile_above_line p { 
	font-size:2rem;
	margin-bottom:-1px;
	color: DarkGray;
}

.profile_top {
    display: flex;
    flex-flow: column nowrap;
    /* padding-top: 0.3rem; */
    color: #888686;
    width:100%;
}

.new_line {
	width:95%;
    border: 1px solid #959292;
}

.profile_details {
    width: 90%;
/*     height: 10rem; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* align-items: inherit; */
    /* align-content: space-between; */
    color: #888686;
}

.profile_details_desktop {
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.profile_details address {
	margin-left:.2rem;
	margin-bottom: 0.1rem;
}

.profile_details #birthdate, #email, #jobStatus, 
				#agency {
	margin-left:.2rem;

}

.profile-status {
	margin-bottom: 0.1rem;
}

.profile_avatar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: .5rem;
    margin-left: .2rem;
    
   
    
}
.profile_avatar button {
	 overflow: hidden;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    border-radius: 10%;
	width: 30%;
}


.profile_avatar button.active {
	border: none;
}

.profile_avatar ul {
	width: 100%;
}

.profile_avatar li {
	 list-style: none;
	 width: 100%;
}


.profile_avatar img {
	height: 15vh;
	object-fit: cover;
	width: 100%;
}

.profile_avatar	.iconify {
	font-size: 3rem;
	margin-right: 1rem;

}



.profile_avatar label {
    font-weight: 700;
    margin-left: 1rem;
}

.profile_personal, .profile_status {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: baseline;
	
}



.profile_personal_fields{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	
}

 #media_links {
	width: 80%;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	border-radius: 10%;
	border: 2px solid gray;
	

}

#media_links #editPencil, #underline{

	position: relative;
	top: -45px;
	background-color: white;

}


.profile_personal_fields .iconify {
	margin-top: 1rem;

}

.profile_personal_fields #underline{
	positon:relative;
	top: -15px;
	padding-left: 3px;
	padding-right: 5px;
	border-bottom: 3px solid lightgray;
  	padding-bottom: 2px;
  	font-color: white;
}

.profile_docs {
    width: 95%;
    background-color: #ECECEC;
}

.profile_docs h5, h6 {
	padding-left: 0.2 rem;
}

.profile_docs i {
	font-size: 0.6rem;
	
}

/* .profile_docs img {
    position: relative;
    right: -70%;
} */

.profile_docs_header {
	margin-top: .5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.profile_docs_buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 35%;

	
}

.profile_docs_buttons a  {
	color:aqua;
	align-self: right;
}

.profile_docs li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
    padding-left: .3rem;
    list-style: none;
    font-size: .8rem;
}




 .profile_docs li a {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    color: #1F9A01;
    justify-content: space-between;
    /* align-items: left; */
	margin-right: 2px;
	margin-left:auto;
     
} 




.profile_docs .doc_name   {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:50%;
	margin-right:auto;
	
}

.profile_headline {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    width:100%;
}

.profile_headline h3 {
	font-size: .9rem;
	
	}
	
.profile_headline h5 {
	font-size: .9rem;
	
	}
	
	
.job_list_desktop {
	width:93%;
}
	

.agency_jobs_headline {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 80%;
	align-items: baseline;
	
}

.profile_headline .profile_work_addJob {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width:80%;
	align-items: baseline;
	align-self: left;
}



.profile_headline .profile_work_addJob li {
	list-style:none;
}

.profile_headline .profile_work_addLang {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width:80%;
	align-items: baseline;
	align-self: left;
}

.skill_profile table {
	width:95%;
}

.lang_profile table {
	width:95%;
}

	.skills_lang_desktop {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;	
		width:100%;
	
	}
	
	.skills_lang_desktop #skills_profile {
		flex-grow: 1;
		width:100%;
	}
	
	.skills_lang_desktop #lang_profile {
		flex-grow: 1;
		width:100%;
	}


/* .profile_headline .profile_work_addJob button {
	background-color: white;
	color: #1F9A01;
	
	}
 */

.table th,
td {
	
    color: #1F9A01;
}


/* MODALS CSS */

	.social_media_links {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		background-color: white;

	}
	
	.social_media_links .iconify {
		width:44px;
		height:44px;
		justify-content: space-between;
		align-items: center;
	}
	
	.social_media_links ul {
		display: flex;
		flex-flow: row nowrap;

	
	}
	
	.social_media_links li {
		list-style:none;
		margin-left: 2rem;
	
	}


@media screen and (min-width: 781px) {
	
	.profile_top {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 1rem;
    color: #888686;
	}
	
		.profile_above_line #right_buttons {
		margin-bottom: -30px;
		font-size:0.7rem;
	}
	
	.profile_above_line #right_buttons p {
		font-size:1.5rem;
		margin-bottom: 5px;
		width: 15%;
	}
	
	.profile_above_line  .iconify {
		font-size:1rem;
	}

	.profile_details {
		display: flex;
		flex-flow:column nowrap;	
	
	}
	
	
 	.profile_details_desktop {
		margin-left: 5px;
	} 
	
	.profile_avatar	.iconify {
	font-size: 5rem;
	margin-right: 1rem;

	}
	
	.profile_docs li {
		font-size: 1rem;
	}
	
	.profile_headline h3 {
	font-size: 1.9rem;
	
	}
	
	.job_list_desktop {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
	}
	
	.job_list_desktop li {
		width: 95%;
	}
	
	
	.skills_lang_desktop {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;	
	
	}
	
	.skills_lang_desktop #skills_profile {
		display: flex;
		flex-flow: column wrap;
		flex-grow: 2;
	}
	
	.skills_lang_desktop #lang_profile {
		display: flex;
		flex-flow: column wrap;
		flex-basis: 450px;
		margin-left: 5rem;
	}
	
	.profile_headline .profile_work_addJob {
		width: 30%;
	
	}
	

	.profile_headline .profile_work_addlang { 
		justify-content: space-between;
		width: 100%;
	}
	
	

	
	.profile_docs_buttons {
		width: 20%;
	}
	
	.profile_icons #deleteButton {
		color:#1F9A01 ;
		text-decoration: none;
	}
	
	.social_media_links {
		display: flex;
		flex-flow: row wrap;
		justify-content:space-around;
		align-items:center;

	}
	
	#media_links #editPencil, #underline{

	position: relative;
	top: -45px;
	background-color: white;

	}
	
}

	@media screen and (max-width: 781px) {	
	
		.profile_above_line #right_buttons {
		margin-bottom: -30px;
		font-size:0.7rem;
		width: 40%;
	}
	
	.profile_above_line #right_buttons p {
		font-size:1.5rem;
		margin-bottom: 5px;
	
	}
	
	.profile_above_line  .iconify {
		font-size:1rem;
	}
	
	.social_media_links .iconify {
		width:36px;
		height:36px;
	}
	
	#media_links #editPencil, #underline{

	position: relative;
 	top: -45px; 
 	left: 33px;
	background-color: white;

	}
	
	.profile_personal_fields #media_links {
		width: 100vw;
	}
	
	.profile_personal_fields a {
		font-size: 0.5rem;
	
	}
	
	.profile_personal_fields #editPencil .iconify{
		font-size: 0.8rem;
}
}
	@media screen and (max-width: 425px) {
	
	
	.profile_above_line {
		margin-top: 2rem;
	
	}
	.profile_above_line h3 {
		font-size: 1rem;
	}
	
	.profile_above_line #right_buttons {
		margin-bottom: -30px;
		font-size:0;
		width: 20%;
	}
	
	.profile_above_line #right_buttons p {
		font-size:1.5rem;
		margin-bottom: 5px;
		
	}
	
	.profile_above_line  .iconify {
		font-size:1rem;
	}
	
	.profile_docs_header #addJob {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		width: 20%;
		height: 15%;
		font-size: 0.7rem;
		
	}
	
	.profile_docs_header #addJob .iconify {
		font-size: 0.7rem;
	
	}
	.profile_docs_header  h6{
		font-size: 0.8rem;
	}
	
	.social_media_links .iconify {
		width:24px;
		height:24px;
	}
	
	#media_links #editPencil, #underline{

	position: relative;
	top: -45px;
	left: 31px;
	background-color: white;

	}
	
	.profile_personal_fields #media_links {
		width: 100vw;
	}
	
	.profile_personal_fields a {
		font-size: 0.5rem;
	
	}
	
	.profile_personal_fields #editPencil .iconify{
		font-size: 0.8rem;
	}
	
	.agency_jobs_headline #addJob {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		width: 35%;
		height: 15%;
		font-size: 0.7rem;
		
	
	}
	
		.agency_jobs_headline #addJob .iconify {
			font-size: 0.7rem;
		}
}