* {
	 box-sizing: border-box;
	 margin: 0px;
	 padding: 0px;
	 border: 0px; 
	 
 }

.navbar {
    position: fixed;
    margin-top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: 0px 3px 10px #9C8EF4;
    border-bottom: solid 0.2px #484848;
    background: rgba(253, 251, 251, 1);
    z-index: 500;
}

.brand-text {
    padding-left: 10px;
}

.user-name {
    display: none;
    font-family: arial;
    font-size: 14px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #484848;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: darkgrey;
}


.navbar-user-links {
    height: 100%;
}

.navbar-user-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-user-links li {
    list-style: none;
}

.navbar-user-links li a {
    text-decoration: none;
    color: #484848;
    padding: 1rem;
    display: block;
}

.navbar-user-links li:hover {
    background-color: darkgrey;
}

@media (max-width: 480px) {
	
	.logged-in {
	display: flex;
	justify-content: flex-end;
	}
	
    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar-user-links {
        display: none;
        width: 100%;
    }
    .button-userplus {
        display: flex;
    }
    
    
    .button-user {
        display: flex;
    }
    
    .nav-right {
        display: flex;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-links ul {
        width: 100vw;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    
    .navbar-user-links ul {
        width: 100vw;
        flex-direction: column;
    }
    .navbar-user-links li {
        text-align: center;
    }
    .navbar-user-links li a {
        padding: .5rem 1rem;
    }
    .navbar-user-links.active {
        display: flex;
    }
}